/**
 *  Main css for Heading
 */

.cmp-heading {
    text-transform: uppercase;
    margin-bottom: 2rem;

    &.h1.has-line{
        margin-bottom: 2rem;
    }

    &.h2.has-line{
        margin-bottom: 1.75rem;
        
    }

    &.h3.has-line{
        margin-bottom: 1.5rem;
        
    }

    &.h4.has-line{
        margin-bottom: 1.25rem;
    }

    &.h5.has-line{
        margin-bottom: 1rem;
    }

    &.h6.has-line{
        margin-bottom: .75rem;
        
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 1.5rem; 
        h1{

        }
        h2{
            
        }
        h3{
            
        }
        h4{
            
        }
        h5{
            
        }
        h6{
            
        }
    }

}

