/**
 *  Main css for Demo01172020
 */

#page {
  .cmp-servicescards__cardcontainer {
    .field__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      > .field__item {
        @media (min-width: 992px) {
          flex: 0 0 28%;
        }
      }
    }

    @media (min-width: 992px) {
      .cmp-servcard,
      .last-card {
        min-width: 100%;
      }
    }
  }

  .cmp-brandingcard {
    .field--name-image {
      @extend .mx-auto;
    }
  }

  .cmp-shadow-box-quote {
    align-self: center;
  }

  .cmp-shadow-box-img {
    // .field--name-field-testimonial-desk-image {

    //     .field--name-image{
    //         max-width: 100%;
    //     }
    // }
  }

  .cmp-image {
    max-width: 100%;
  }
}
