








<section class="cmp-skew columns is-centered   position-relative bg-transparent  overlap-next-6 "
    >


    
            




    <img class="cmp-image  overlap-next-6 " src="https://res.cloudinary.com/alldataborn/image/upload/v1577487943/alldata/hero_jhnfsz.jpg" alt="hero"  sizes="100vw"   srcset="https://res.cloudinary.com/alldataborn/image/upload/q_auto,w_200/v1577487943/alldata/hero_jhnfsz.jpg 200w, https://res.cloudinary.com/alldataborn/image/upload/q_auto,w_400/v1577487943/alldata/hero_jhnfsz.jpg 400w, https://res.cloudinary.com/alldataborn/image/upload/q_auto,w_600/v1577487943/alldata/hero_jhnfsz.jpg 600w, https://res.cloudinary.com/alldataborn/image/upload/q_auto,w_800/v1577487943/alldata/hero_jhnfsz.jpg 800w, https://res.cloudinary.com/alldataborn/image/upload/q_auto,w_1000/v1577487943/alldata/hero_jhnfsz.jpg 1000w"   >

    
    

    
            
  
<div class="cmp-tricolor__position">
    <div class="tricolor-layer  cmp-tricolor_start"></div>
    <div class="tricolor-layer cmp-tricolor_middle"></div>
    <div class="tricolor-layer cmp-tricolor_end"></div>

    
</div>  <div class="cmp-hero">
    

<div class="cmp-cols  cols-1  cols-md-2   ">
   


         <div class="field field--name-field-brand-block-info field--type-entity-reference-revisions field--label-hidden field__items">
	  
                



<div id="carouselHeroSlider" class="cmp-slider carousel slide   same-height  " data-ride="carousel" data-interval="false">
                <div class="cmp-slider-controls d-flex">
            <a class="cmp-slider-prev" href="#carouselHeroSlider" role="button" data-slide="prev">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="9" height="15" viewBox="0 0 9 15">
                    <path  fill-rule="evenodd" d="M7.116 0L8.36 1.251 2.485 7.162l5.875 5.911-1.244 1.251L0 7.162z"/>
                </svg>

                <span class="sr-only">Previous</span>
            </a>
            <ol class="carousel-indicators">
                                    <li data-target="#carouselHeroSlider" data-slide-to="0"  class="active"    ></li>
                                    <li data-target="#carouselHeroSlider" data-slide-to="1"    ></li>
                            </ol>
            <a class="cmp-slider-next" href="#carouselHeroSlider" role="button" data-slide="next">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="9" height="15" viewBox="0 0 9 15">
                    <path fill-rule="evenodd" d="M1.244 0L0 1.251l5.875 5.911L0 13.073l1.244 1.251L8.36 7.162z"/>
                </svg>
                <span class="sr-only">Next</span>
            </a>
        </div>
            

    <div class="carousel-inner">
                        
                                                                        <div class="carousel-item  active ">
                        
<div class="cmp-jumbo ">



   
 <h1 class="cmp-heading h1  cmp-jumbo__heading    has-line ">
    KYAUTOMOTIVE INTELLIGENCE
 </h1>

         
      
<svg class="cmp-threelines" xmlns="http://www.w3.org/2000/svg" width="61" height="17" viewBox="0 0 61 17">
    <g fill="#F16824" fill-rule="evenodd">
        <path d="M9.59 0L0 17h7.083L17 0zM31.59 0L22 17h7.083L39 0zM53.59 0L44 17h7.083L61 0z"/>
    </g>
</svg>


   
 
         <p class="cmp-text">
        From providing shop management software to customer communication tools, we've been the industry leader of OEM auto repair software since 1986.
    </p>
  
         <button class="cmp-button btn btn-outline-secondary">shop products</button>

 

 
 [object Object]
 [object Object]   </div>


   
   
   
   
  




            
</div>                                                                        <div class="carousel-item ">
                        
<div class="cmp-jumbo ">



   
 <h1 class="cmp-heading h1  cmp-jumbo__heading    has-line ">
    Testing Carousel
 </h1>

         
      
<svg class="cmp-threelines" xmlns="http://www.w3.org/2000/svg" width="61" height="17" viewBox="0 0 61 17">
    <g fill="#F16824" fill-rule="evenodd">
        <path d="M9.59 0L0 17h7.083L17 0zM31.59 0L22 17h7.083L39 0zM53.59 0L44 17h7.083L61 0z"/>
    </g>
</svg>


   
 
         <p class="cmp-text">
        From providing shop management software to customer communication tools, we've been the industry leader of OEM auto repair software since 1986.
    </p>
  
         <button class="cmp-button btn btn-outline-secondary">hello world</button>

 

 
 [object Object]
 [object Object]   </div>


   
   
   
   
  




            
</div>        


            </div>
    </div>
</div>

      
</div>
  </div>

    
    
</section>


