









<section class="cmp-skew columns is-centered   position-relative bg-transparent  overlap-next-6 "
    >


    
            




    <img class="cmp-image  overlap-next-6 " src="https://res.cloudinary.com/alldataborn/image/upload/v1577487943/alldata/hero_jhnfsz.jpg" alt="hero"  sizes="100vw"   srcset="https://res.cloudinary.com/alldataborn/image/upload/q_auto,w_200/v1577487943/alldata/hero_jhnfsz.jpg 200w, https://res.cloudinary.com/alldataborn/image/upload/q_auto,w_400/v1577487943/alldata/hero_jhnfsz.jpg 400w, https://res.cloudinary.com/alldataborn/image/upload/q_auto,w_600/v1577487943/alldata/hero_jhnfsz.jpg 600w, https://res.cloudinary.com/alldataborn/image/upload/q_auto,w_800/v1577487943/alldata/hero_jhnfsz.jpg 800w, https://res.cloudinary.com/alldataborn/image/upload/q_auto,w_1000/v1577487943/alldata/hero_jhnfsz.jpg 1000w"   >

    
    

    
            
  
<div class="cmp-tricolor__position">
    <div class="tricolor-layer  cmp-tricolor_start"></div>
    <div class="tricolor-layer cmp-tricolor_middle"></div>
    <div class="tricolor-layer cmp-tricolor_end"></div>

    
</div>  <div class="cmp-hero">
    

<div class="cmp-cols  cols-1  cols-md-2   ">
   


         <div class="field field--name-field-brand-block-info field--type-entity-reference-revisions field--label-hidden field__items">
	  
                



<div id="carouselHeroSlider" class="cmp-slider carousel slide   same-height  " data-ride="carousel" data-interval="false">
                <div class="cmp-slider-controls d-flex">
            <a class="cmp-slider-prev" href="#carouselHeroSlider" role="button" data-slide="prev">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="9" height="15" viewBox="0 0 9 15">
                    <path  fill-rule="evenodd" d="M7.116 0L8.36 1.251 2.485 7.162l5.875 5.911-1.244 1.251L0 7.162z"/>
                </svg>

                <span class="sr-only">Previous</span>
            </a>
            <ol class="carousel-indicators">
                                    <li data-target="#carouselHeroSlider" data-slide-to="0"  class="active"    ></li>
                                    <li data-target="#carouselHeroSlider" data-slide-to="1"    ></li>
                            </ol>
            <a class="cmp-slider-next" href="#carouselHeroSlider" role="button" data-slide="next">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="9" height="15" viewBox="0 0 9 15">
                    <path fill-rule="evenodd" d="M1.244 0L0 1.251l5.875 5.911L0 13.073l1.244 1.251L8.36 7.162z"/>
                </svg>
                <span class="sr-only">Next</span>
            </a>
        </div>
            

    <div class="carousel-inner">
                        
                                                                        <div class="carousel-item  active ">
                        
<div class="cmp-jumbo ">



   
 <h1 class="cmp-heading h1  cmp-jumbo__heading    has-line ">
    KYAUTOMOTIVE INTELLIGENCE
 </h1>

         
      
<svg class="cmp-threelines" xmlns="http://www.w3.org/2000/svg" width="61" height="17" viewBox="0 0 61 17">
    <g fill="#F16824" fill-rule="evenodd">
        <path d="M9.59 0L0 17h7.083L17 0zM31.59 0L22 17h7.083L39 0zM53.59 0L44 17h7.083L61 0z"/>
    </g>
</svg>


   
 
         <p class="cmp-text">
        From providing shop management software to customer communication tools, we've been the industry leader of OEM auto repair software since 1986.
    </p>
  
         <button class="cmp-button btn btn-outline-secondary">shop products</button>
   </div>


   
   
   
   
  




            
</div>                                                                        <div class="carousel-item ">
                        
<div class="cmp-jumbo ">



   
 <h1 class="cmp-heading h1  cmp-jumbo__heading    has-line ">
    Testing Carousel
 </h1>

         
      
<svg class="cmp-threelines" xmlns="http://www.w3.org/2000/svg" width="61" height="17" viewBox="0 0 61 17">
    <g fill="#F16824" fill-rule="evenodd">
        <path d="M9.59 0L0 17h7.083L17 0zM31.59 0L22 17h7.083L39 0zM53.59 0L44 17h7.083L61 0z"/>
    </g>
</svg>


   
 
         <p class="cmp-text">
        From providing shop management software to customer communication tools, we've been the industry leader of OEM auto repair software since 1986.
    </p>
  
         <button class="cmp-button btn btn-outline-secondary">hello world</button>
   </div>


   
   
   
   
  




            
</div>        


            </div>
    </div>
</div>

      
</div>
  </div>

    
    
</section>










<section class="cmp-skew columns is-centered skew-6 branding   bg-primary  "
    >


    <div class="inner-section ">
                        
    <div class="cmp-branding text-white py-4 px-5 pb-lg-0">
        
<div class="cmp-jumbo  cmp-jumbo__simple ">



   
 <h2 class="cmp-heading h2  cmp-jumbo__heading   ">
    Why ALLDATA
 </h2>

   
 
         <p class="cmp-text">
        ALLDATA is the industry’s #1 choice for OEM-accurate mechanical and collision repair information, shop management software, and support services, trusted by more than 400,000 technicians in over 115,000 shops worldwide.
    </p>
  
   </div>


   
   
   
   
  




        

<div class="cmp-cols  cols-1   cols-lg-3  ">
   


           <div class="field field--name-field-brand-block-info field--type-entity-reference-revisions field--label-hidden field__items">
	            

<div class="cmp-brandingcard text-center             
                                          
                        
                                          
                                                      
            
                
        py-4 py-lg-4 px-lg-4
      ">


    

        




    <img class="cmp-image " src="/images/mechanic.svg" alt="mechanic">

    
 <h3 class="cmp-heading h3   ">
    Repair Information
 </h3>

   
          <p class="cmp-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur accumsan sapien a orci pharetra pretium.
    </p>
  
    <hr class="cmp-brandingcard__line">
</div>

            

<div class="cmp-brandingcard text-center             
                                          
                        
                                          
                                                      
            
                
        py-4 py-lg-4 px-lg-4
      ">


    

        




    <img class="cmp-image " src="/images/tyre.svg" alt="tyre">

    
 <h3 class="cmp-heading h3   ">
    diagnostics
 </h3>

   
          <p class="cmp-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur accumsan sapien a orci pharetra pretium.
    </p>
  
    <hr class="cmp-brandingcard__line">
</div>

            

<div class="cmp-brandingcard text-center             
                                          
                        
                                          
                                                      
            
                
        py-4 py-lg-4 px-lg-4
      ">


    

        




    <img class="cmp-image " src="/images/key.svg" alt="key">

    
 <h3 class="cmp-heading h3   ">
    shop management
 </h3>

   
          <p class="cmp-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur accumsan sapien a orci pharetra pretium.
    </p>
  
    <hr class="cmp-brandingcard__line">
</div>

    
</div>

      
</div>
    </div>

            </div>
    
</section>

<section class="cmp-serve-wedo">
    
<div class="cmp-tricolor__position-inverted">
    <div class="tricolor-layer  cmp-tricolor_start"></div>
    <div class="tricolor-layer cmp-tricolor_middle"></div>
    <div class="tricolor-layer cmp-tricolor_end"></div>

    
</div>    <div class="cmp-whoweserve col-11 col-lg-11 mx-auto">
        
<div class="cmp-jumbo  cmp-jumbo__No Button and no simple text ">



   
 <h2 class="cmp-heading h2  cmp-jumbo__heading    has-line ">
    Who we serve
 </h2>

         
      
<svg class="cmp-threelines" xmlns="http://www.w3.org/2000/svg" width="61" height="17" viewBox="0 0 61 17">
    <g fill="#F16824" fill-rule="evenodd">
        <path d="M9.59 0L0 17h7.083L17 0zM31.59 0L22 17h7.083L39 0zM53.59 0L44 17h7.083L61 0z"/>
    </g>
</svg>


   
 
     
   </div>


   
   
   
   
  




        <div class="cmp-cardscontainer  ">
     
            
            <div class="field field--name-field-brand-block-info field--type-entity-reference-revisions field--label-hidden field__items">
	                                     <div role="presentation" class="cmp-servcard mobile-overflow col-12 mx-auto mx-lg-3 mb-4  
"> 
    <div class="cmp-servcard__image">
        
<div class="cmp-imageblue bg-primary">
    




    <img class="cmp-image " src="/images/carfix.jpg" alt=""    >

    
    

</div>    </div>
    <div class="cmp-servcard__content">
        
 <h6 class="cmp-heading h6   ">
    Independent collision shops
 </h6>

   
        <button class="cmp-servcard__more"><img src=../../images/plus-orange.svg alt="more"></button>
        <div class="cmp-servcard__description  d-none d-lg-block" aria-hidden="true" aria-expanded="false">
                  <p class="cmp-text">
        Our Collision Advantage integrates with the three major estimating systems, analyzing your estimate in seconds and displaying on a single screen.
    </p>
              
<a class="cmp-cardlink" href="https://www.google.com">Learn More</a>

        </div>
    </div>
    
</div>                                     <div role="presentation" class="cmp-servcard mobile-overflow col-12 mx-auto mx-lg-3 mb-4  
"> 
    <div class="cmp-servcard__image">
        
<div class="cmp-imageblue bg-primary">
    




    <img class="cmp-image " src="/images/carfix.jpg" alt=""    >

    
    

</div>    </div>
    <div class="cmp-servcard__content">
        
 <h6 class="cmp-heading h6   ">
    Independent collision shops
 </h6>

   
        <button class="cmp-servcard__more"><img src=../../images/plus-orange.svg alt="more"></button>
        <div class="cmp-servcard__description  d-none d-lg-block" aria-hidden="true" aria-expanded="false">
                  <p class="cmp-text">
        Our Collision Advantage integrates with the three major estimating systems, analyzing your estimate in seconds and displaying on a single screen. Our Collision Advantage integrates with the three major estimating systems, analyzing your estimate in seconds and displaying on a single screen. Our Collision Advantage integrates with the three major estimating systems, analyzing your estimate in seconds and displaying on a single screen.
    </p>
              
<a class="cmp-cardlink" href="https://www.google.com">Learn More</a>

        </div>
    </div>
    
</div>                                     <div role="presentation" class="cmp-servcard mobile-overflow col-12 mx-auto mx-lg-3 mb-4  
"> 
    <div class="cmp-servcard__image">
        
<div class="cmp-imageblue bg-primary">
    




    <img class="cmp-image " src="/images/carfix.jpg" alt=""    >

    
    

</div>    </div>
    <div class="cmp-servcard__content">
        
 <h6 class="cmp-heading h6   ">
    Independent collision shops
 </h6>

   
        <button class="cmp-servcard__more"><img src=../../images/plus-orange.svg alt="more"></button>
        <div class="cmp-servcard__description  d-none d-lg-block" aria-hidden="true" aria-expanded="false">
                  <p class="cmp-text">
        Our Collision Advantage integrates with the three major estimating systems, analyzing your estimate in seconds and displaying on a single screen.
    </p>
              
<a class="cmp-cardlink" href="https://www.google.com">Learn More</a>

        </div>
    </div>
    
</div>                                     <div role="presentation" class="cmp-servcard mobile-overflow col-12 mx-auto mx-lg-3 mb-4  
"> 
    <div class="cmp-servcard__image">
        
<div class="cmp-imageblue bg-primary">
    




    <img class="cmp-image " src="/images/carfix.jpg" alt=""    >

    
    

</div>    </div>
    <div class="cmp-servcard__content">
        
 <h6 class="cmp-heading h6   ">
    Independent collision shops
 </h6>

   
        <button class="cmp-servcard__more"><img src=../../images/plus-orange.svg alt="more"></button>
        <div class="cmp-servcard__description  d-none d-lg-block" aria-hidden="true" aria-expanded="false">
                  <p class="cmp-text">
        Our Collision Advantage integrates with the three major estimating systems, analyzing your estimate in seconds and displaying on a single screen.
    </p>
              
<a class="cmp-cardlink" href="https://www.google.com">Learn More</a>

        </div>
    </div>
    
</div>                                     <div role="presentation" class="cmp-servcard mobile-overflow col-12 mx-auto mx-lg-3 mb-4  
"> 
    <div class="cmp-servcard__image">
        
<div class="cmp-imageblue bg-primary">
    




    <img class="cmp-image " src="/images/carfix.jpg" alt=""    >

    
    

</div>    </div>
    <div class="cmp-servcard__content">
        
 <h6 class="cmp-heading h6   ">
    Independent collision shops
 </h6>

   
        <button class="cmp-servcard__more"><img src=../../images/plus-orange.svg alt="more"></button>
        <div class="cmp-servcard__description  d-none d-lg-block" aria-hidden="true" aria-expanded="false">
                  <p class="cmp-text">
        Our Collision Advantage integrates with the three major estimating systems, analyzing your estimate in seconds and displaying on a single screen.
    </p>
              
<a class="cmp-cardlink" href="https://www.google.com">Learn More</a>

        </div>
    </div>
    
</div>                                     <div role="presentation" class="cmp-servcard mobile-overflow col-12 mx-auto mx-lg-3 mb-4  last-card  
"> 
    <div class="cmp-servcard__image">
        
<div class="cmp-imageblue bg-primary">
    




    <img class="cmp-image " src="/images/carfix.jpg" alt=""    >

    
    

</div>    </div>
    <div class="cmp-servcard__content">
        
 <h6 class="cmp-heading h6   ">
    Independent collision shops
 </h6>

   
        <button class="cmp-servcard__more"><img src=../../images/plus-orange.svg alt="more"></button>
        <div class="cmp-servcard__description-lastcard  " aria-hidden="true" aria-expanded="false">
                  <p class="cmp-text">
        Our Collision Advantage integrates with the three major estimating systems, analyzing your estimate in seconds and displaying on a single screen.
    </p>
              
<a class="cmp-cardlink" href="https://www.google.com">Go to diy site</a>

        </div>
    </div>
    
</div>                            
</div>
        </div>
    </div>
    <div class="cmp-image-separator d-block d-lg-none col-12 my-5">
        




    <img class="cmp-image " src="/images/carfix2.jpg" alt=""    >

    
    

    </div>
    <div class="cmp-what-wedo">
        <div class="cmp-what-wedo__about-us col-11 col-sm-8 col-md-7 col-lg-5 mx-auto">
        
<div class="cmp-jumbo ">



   
 <h2 class="cmp-heading h2  cmp-jumbo__heading    has-line ">
    WHA WE DO
 </h2>

         
      
<svg class="cmp-threelines" xmlns="http://www.w3.org/2000/svg" width="61" height="17" viewBox="0 0 61 17">
    <g fill="#F16824" fill-rule="evenodd">
        <path d="M9.59 0L0 17h7.083L17 0zM31.59 0L22 17h7.083L39 0zM53.59 0L44 17h7.083L61 0z"/>
    </g>
</svg>


   
 
         <p class="cmp-text">
        We are a <strong>data-driven solutions provider</strong> working <strong>hard</strong> and <strong>smart</strong> to help automotive repair shops be the <strong>best they can be</strong>.
    </p>
  
         <button class="cmp-button btn btn-outline-secondary">About Us</button>
   </div>


   
   
   
   
  




        </div>
    </div>
</section>



<section class="cmp-skew columns is-centered skew-md-6 overlap-prev-section    "
      style=" background-image: url(/images/testimonialbg.png); background-size: cover; border-bottom: 1px solid white; " >


    <div class="inner-section ">
                        <div class="cmp-testimonial">
        <div class="cmp-testimonial-inner">
                        
                        



<div id="carouselTestimonialSlider" class="cmp-slider carousel slide  " data-ride="carousel" data-interval="false">
                <div class="cmp-slider-controls d-flex">
            <a class="cmp-slider-prev" href="#carouselTestimonialSlider" role="button" data-slide="prev">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="9" height="15" viewBox="0 0 9 15">
                    <path  fill-rule="evenodd" d="M7.116 0L8.36 1.251 2.485 7.162l5.875 5.911-1.244 1.251L0 7.162z"/>
                </svg>

                <span class="sr-only">Previous</span>
            </a>
            <ol class="carousel-indicators">
                                    <li data-target="#carouselTestimonialSlider" data-slide-to="0"  class="active"    ></li>
                                    <li data-target="#carouselTestimonialSlider" data-slide-to="1"    ></li>
                            </ol>
            <a class="cmp-slider-next" href="#carouselTestimonialSlider" role="button" data-slide="next">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="9" height="15" viewBox="0 0 9 15">
                    <path fill-rule="evenodd" d="M1.244 0L0 1.251l5.875 5.911L0 13.073l1.244 1.251L8.36 7.162z"/>
                </svg>
                <span class="sr-only">Next</span>
            </a>
        </div>
            

    <div class="carousel-inner">
                        
                                            <div class="carousel-item  active ">
                        



<div class="cmp-shadow-box">
    

<div class="cmp-cols  cols-1  cols-md-2   no-gutter  ">
   


         <div class="cmp-shadow-box-img">
    




    <img class="cmp-image  img-fluid " src="https://res.cloudinary.com/alldataborn/image/upload/v1577747528/alldata/juan_iact8j.png" alt="happy man"    >

    
    


    
    <div class="cmp-shadow-box-play-container">
      <button class="btn">

        




    <img class="cmp-image " src="/images/play.svg" alt="">

          <span class="sr-only"></span>
      </button>
    </div>

  </div>
  <div class="cmp-shadow-box-quote">
      <div class="cmp-quote">
    




    <img class="cmp-image " src="/images/quote-start.svg" alt="">

    <blockquote cite="https://www.huxley.net/bnw/four.html">
        <p>ALLDATA allows us to have access to the information we need, and it’s completely portable, so our techs have everything at their fingertips.</p>
        <footer>Josh Kazdan, Autosphere</footer>
    </blockquote>
    




    <img class="cmp-image " src="/images/quote-end.svg" alt="">

</div>  </div> 

      
</div>
</div>

            
</div>                                            <div class="carousel-item ">
                        



<div class="cmp-shadow-box">
    

<div class="cmp-cols  cols-1  cols-md-2   no-gutter  ">
   


         <div class="cmp-shadow-box-img">
    




    <img class="cmp-image  img-fluid " src="https://res.cloudinary.com/alldataborn/image/upload/v1577747528/alldata/juan_iact8j.png" alt="happy man"    >

    
    


    
    <div class="cmp-shadow-box-play-container">
      <button class="btn">

        




    <img class="cmp-image " src="/images/play.svg" alt="">

          <span class="sr-only"></span>
      </button>
    </div>

  </div>
  <div class="cmp-shadow-box-quote">
      <div class="cmp-quote">
    




    <img class="cmp-image " src="/images/quote-start.svg" alt="">

    <blockquote cite="https://www.huxley.net/bnw/four.html">
        <p>ALLDATA allows us to have access to the information we need, and it’s completely portable, so our techs have everything at their fingertips.</p>
        <footer>Josh Kazdan, Autosphere</footer>
    </blockquote>
    




    <img class="cmp-image " src="/images/quote-end.svg" alt="">

</div>  </div> 

      
</div>
</div>

            
</div>        


            </div>
    </div>            <div class="cmp-testimonial-footer" >
                      <p class="cmp-text">
        See what over 400,000 technicians can't work without.
    </p>
                  <button class="cmp-button btn btn-outline-secondary">Get Started</button>
            </div>
        </div>
    </div>

            </div>
    
</section>
<div class="cmp-Affilliations mx-4 px-lg-5 mx-lg-3">
    
<div class="cmp-jumbo  cmp-jumbo__No Button ">



   
 <h2 class="cmp-heading h2  cmp-jumbo__heading    has-line ">
    working with <br> the industry’s best
 </h2>

         
      
<svg class="cmp-threelines" xmlns="http://www.w3.org/2000/svg" width="61" height="17" viewBox="0 0 61 17">
    <g fill="#F16824" fill-rule="evenodd">
        <path d="M9.59 0L0 17h7.083L17 0zM31.59 0L22 17h7.083L39 0zM53.59 0L44 17h7.083L61 0z"/>
    </g>
</svg>


   
 
         <p class="cmp-text">
        ALLDATA proudly partners with other leaders in the automotive industry. These affiliations help ensure that the OEM information found in ALLDATA products is used in major organizations nationwide for vehicle repair and maintenance.
    </p>
  
   </div>


   
   
   
   
  




    
<div class="cmp-companies cmp-companies__bs">
	<div class="cmp-companies-sm d-lg-none">

		
				  				  		
		



<div id="carouselCompanyMB" class="cmp-slider carousel slide   same-height  " data-ride="carousel" data-interval="false">
        

    <div class="carousel-inner">
                        
                                            <div class="carousel-item  active ">
                        <div class="cmp-companies-page text-center">
			<div class="cmp-companies-company">
			<div class="cmp-companies-logo my-auto my-lg-0">
			




    <img class="cmp-image " src="/images/3-m-logo.svg" alt="">

			<small class="cmp-company-affiliation mt-3 mt-lg-0 mb-lg-3">Association</small>
			</div>
		</div>
			<div class="cmp-companies-company">
			<div class="cmp-companies-logo my-auto my-lg-0">
			




    <img class="cmp-image " src="/images/asa-logo.svg" alt="">

			<small class="cmp-company-affiliation mt-3 mt-lg-0 mb-lg-3">association</small>
			</div>
		</div>
			<div class="cmp-companies-company">
			<div class="cmp-companies-logo my-auto my-lg-0">
			




    <img class="cmp-image " src="/images/carmax-logo.svg" alt="">

			<small class="cmp-company-affiliation mt-3 mt-lg-0 mb-lg-3">integration partner</small>
			</div>
		</div>
			<div class="cmp-companies-company">
			<div class="cmp-companies-logo my-auto my-lg-0">
			




    <img class="cmp-image " src="/images/bosch-logo.svg" alt="">

			<small class="cmp-company-affiliation mt-3 mt-lg-0 mb-lg-3">Associaiton</small>
			</div>
		</div>
			<div class="cmp-companies-company">
			<div class="cmp-companies-logo my-auto my-lg-0">
			




    <img class="cmp-image " src="/images/jiffy-lube.svg" alt="">

			<small class="cmp-company-affiliation mt-3 mt-lg-0 mb-lg-3">customer</small>
			</div>
		</div>
			<div class="cmp-companies-company">
			<div class="cmp-companies-logo my-auto my-lg-0">
			




    <img class="cmp-image " src="/images/key.svg" alt="">

			<small class="cmp-company-affiliation mt-3 mt-lg-0 mb-lg-3">Associaiton</small>
			</div>
		</div>
	</div>
            
</div>                                            <div class="carousel-item ">
                        <div class="cmp-companies-page text-center">
			<div class="cmp-companies-company">
			<div class="cmp-companies-logo my-auto my-lg-0">
			




    <img class="cmp-image " src="/images/3-m-logo.svg" alt="">

			<small class="cmp-company-affiliation mt-3 mt-lg-0 mb-lg-3">Association</small>
			</div>
		</div>
			<div class="cmp-companies-company">
			<div class="cmp-companies-logo my-auto my-lg-0">
			




    <img class="cmp-image " src="/images/key.svg" alt="">

			<small class="cmp-company-affiliation mt-3 mt-lg-0 mb-lg-3">Associaiton</small>
			</div>
		</div>
			<div class="cmp-companies-company">
			<div class="cmp-companies-logo my-auto my-lg-0">
			




    <img class="cmp-image " src="/images/3-m-logo.svg" alt="">

			<small class="cmp-company-affiliation mt-3 mt-lg-0 mb-lg-3">Association</small>
			</div>
		</div>
			<div class="cmp-companies-company">
			<div class="cmp-companies-logo my-auto my-lg-0">
			




    <img class="cmp-image " src="/images/key.svg" alt="">

			<small class="cmp-company-affiliation mt-3 mt-lg-0 mb-lg-3">Associaiton</small>
			</div>
		</div>
			<div class="cmp-companies-company">
			<div class="cmp-companies-logo my-auto my-lg-0">
			




    <img class="cmp-image " src="/images/carmax-logo.svg" alt="">

			<small class="cmp-company-affiliation mt-3 mt-lg-0 mb-lg-3">integration partner</small>
			</div>
		</div>
	</div>
            
</div>        


            </div>
                <div class="cmp-slider-controls d-flex bottom">
            <a class="cmp-slider-prev" href="#carouselCompanyMB" role="button" data-slide="prev">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="9" height="15" viewBox="0 0 9 15">
                    <path  fill-rule="evenodd" d="M7.116 0L8.36 1.251 2.485 7.162l5.875 5.911-1.244 1.251L0 7.162z"/>
                </svg>

                <span class="sr-only">Previous</span>
            </a>
            <ol class="carousel-indicators">
                                    <li data-target="#carouselCompanyMB" data-slide-to="0"  class="active"    ></li>
                                    <li data-target="#carouselCompanyMB" data-slide-to="1"    ></li>
                            </ol>
            <a class="cmp-slider-next" href="#carouselCompanyMB" role="button" data-slide="next">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="9" height="15" viewBox="0 0 9 15">
                    <path fill-rule="evenodd" d="M1.244 0L0 1.251l5.875 5.911L0 13.073l1.244 1.251L8.36 7.162z"/>
                </svg>
                <span class="sr-only">Next</span>
            </a>
        </div>
        </div>

	</div>

	<div class="cmp-companies-lg d-none d-lg-block">
						  				  				  				



<div id="carouselCompanyDK" class="cmp-slider carousel slide   same-height  " data-ride="carousel" data-interval="false">
                <div class="cmp-slider-controls d-flex">
            <a class="cmp-slider-prev" href="#carouselCompanyDK" role="button" data-slide="prev">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="9" height="15" viewBox="0 0 9 15">
                    <path  fill-rule="evenodd" d="M7.116 0L8.36 1.251 2.485 7.162l5.875 5.911-1.244 1.251L0 7.162z"/>
                </svg>

                <span class="sr-only">Previous</span>
            </a>
            <ol class="carousel-indicators">
                                    <li data-target="#carouselCompanyDK" data-slide-to="0"  class="active"    ></li>
                                    <li data-target="#carouselCompanyDK" data-slide-to="1"    ></li>
                                    <li data-target="#carouselCompanyDK" data-slide-to="2"    ></li>
                            </ol>
            <a class="cmp-slider-next" href="#carouselCompanyDK" role="button" data-slide="next">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="9" height="15" viewBox="0 0 9 15">
                    <path fill-rule="evenodd" d="M1.244 0L0 1.251l5.875 5.911L0 13.073l1.244 1.251L8.36 7.162z"/>
                </svg>
                <span class="sr-only">Next</span>
            </a>
        </div>
            

    <div class="carousel-inner">
                        
                                            <div class="carousel-item  active ">
                        <div class="cmp-companies-page text-center">
			<div class="cmp-companies-company">
			<div class="cmp-companies-logo my-auto my-lg-0">
			




    <img class="cmp-image " src="/images/3-m-logo.svg" alt="">

			<small class="cmp-company-affiliation mt-3 mt-lg-0 mb-lg-3">Association</small>
			</div>
		</div>
			<div class="cmp-companies-company">
			<div class="cmp-companies-logo my-auto my-lg-0">
			




    <img class="cmp-image " src="/images/asa-logo.svg" alt="">

			<small class="cmp-company-affiliation mt-3 mt-lg-0 mb-lg-3">association</small>
			</div>
		</div>
			<div class="cmp-companies-company">
			<div class="cmp-companies-logo my-auto my-lg-0">
			




    <img class="cmp-image " src="/images/carmax-logo.svg" alt="">

			<small class="cmp-company-affiliation mt-3 mt-lg-0 mb-lg-3">integration partner</small>
			</div>
		</div>
			<div class="cmp-companies-company">
			<div class="cmp-companies-logo my-auto my-lg-0">
			




    <img class="cmp-image " src="/images/bosch-logo.svg" alt="">

			<small class="cmp-company-affiliation mt-3 mt-lg-0 mb-lg-3">Associaiton</small>
			</div>
		</div>
			<div class="cmp-companies-company">
			<div class="cmp-companies-logo my-auto my-lg-0">
			




    <img class="cmp-image " src="/images/jiffy-lube.svg" alt="">

			<small class="cmp-company-affiliation mt-3 mt-lg-0 mb-lg-3">customer</small>
			</div>
		</div>
	</div>
            
</div>                                            <div class="carousel-item ">
                        <div class="cmp-companies-page text-center">
			<div class="cmp-companies-company">
			<div class="cmp-companies-logo my-auto my-lg-0">
			




    <img class="cmp-image " src="/images/key.svg" alt="">

			<small class="cmp-company-affiliation mt-3 mt-lg-0 mb-lg-3">Associaiton</small>
			</div>
		</div>
			<div class="cmp-companies-company">
			<div class="cmp-companies-logo my-auto my-lg-0">
			




    <img class="cmp-image " src="/images/3-m-logo.svg" alt="">

			<small class="cmp-company-affiliation mt-3 mt-lg-0 mb-lg-3">Association</small>
			</div>
		</div>
			<div class="cmp-companies-company">
			<div class="cmp-companies-logo my-auto my-lg-0">
			




    <img class="cmp-image " src="/images/key.svg" alt="">

			<small class="cmp-company-affiliation mt-3 mt-lg-0 mb-lg-3">Associaiton</small>
			</div>
		</div>
			<div class="cmp-companies-company">
			<div class="cmp-companies-logo my-auto my-lg-0">
			




    <img class="cmp-image " src="/images/3-m-logo.svg" alt="">

			<small class="cmp-company-affiliation mt-3 mt-lg-0 mb-lg-3">Association</small>
			</div>
		</div>
			<div class="cmp-companies-company">
			<div class="cmp-companies-logo my-auto my-lg-0">
			




    <img class="cmp-image " src="/images/key.svg" alt="">

			<small class="cmp-company-affiliation mt-3 mt-lg-0 mb-lg-3">Associaiton</small>
			</div>
		</div>
	</div>
            
</div>                                            <div class="carousel-item ">
                        <div class="cmp-companies-page text-center">
			<div class="cmp-companies-company">
			<div class="cmp-companies-logo my-auto my-lg-0">
			




    <img class="cmp-image " src="/images/carmax-logo.svg" alt="">

			<small class="cmp-company-affiliation mt-3 mt-lg-0 mb-lg-3">integration partner</small>
			</div>
		</div>
	</div>
            
</div>        


            </div>
    </div>
	</div>

</div>
    <div class="cmp-affiliations-button">
        <button class="cmp-button btn btn-outline-secondary">see all</button>
    </div>
</div>




<section class="cmp-skew columns is-centered skew-6   bg-primary-100  "
    >


    <div class="inner-section ">
                    <div class="cmp-latest">
    <div class="container">
        
 <h2 class="cmp-heading h2    has-line ">
    see the latest
 </h2>

         
      
<svg class="cmp-threelines" xmlns="http://www.w3.org/2000/svg" width="61" height="17" viewBox="0 0 61 17">
    <g fill="#F16824" fill-rule="evenodd">
        <path d="M9.59 0L0 17h7.083L17 0zM31.59 0L22 17h7.083L39 0zM53.59 0L44 17h7.083L61 0z"/>
    </g>
</svg>


   

        <div class="cmp-latestcards__cardcontainer">
            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="cmp-latestcard">
    
<div class="cmp-latestHeading">
    <h6 class="heading-title">News</h6>
    <button class="heading-link">see all news</button>
</div>

    <div class="cmp-latestcard-content">
        <div class="cmp-latestcard__image ">
            <div class="d-none d-md-block">
                
<div class="cmp-imageblue bg-primary">
    




    <img class="cmp-image " src="/images/carfix.jpg" alt=""    >

    
    

</div>            </div>
            <div class="d-md-none">
                




    <img class="cmp-image " src="/images/carfix.jpg" alt=""    >

    
    

            </div>
        </div>
        <div class="cmp-latestcard__content">
            
 <h6 class="cmp-heading h6   ">
    Five ways technology can help your dealership service
 </h6>

   
            <span class="cmp-latestcard__more">
                <img src=../../images/plus-orange.svg alt="more">
            </span>
                  <p class="cmp-text">
        At the NIADA Convention and Expo, George Verkamp (shown above), Vice President of Sales & Business Development at ALLDATA...
    </p>
              
<a class="cmp-cardlink" href="https://www.google.com">Learn More</a>

        </div>
    </div>
</div>
                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="cmp-latestcard">
    
<div class="cmp-latestHeading">
    <h6 class="heading-title">Teach tips</h6>
    <button class="heading-link">See all tips</button>
</div>

    <div class="cmp-latestcard-content">
        <div class="cmp-latestcard__image ">
            <div class="d-none d-md-block">
                
<div class="cmp-imageblue bg-primary">
    




    <img class="cmp-image " src="/images/carfix.jpg" alt=""    >

    
    

</div>            </div>
            <div class="d-md-none">
                




    <img class="cmp-image " src="/images/carfix.jpg" alt=""    >

    
    

            </div>
        </div>
        <div class="cmp-latestcard__content">
            
 <h6 class="cmp-heading h6   ">
    Five ways technology can help your dealership service
 </h6>

   
            <span class="cmp-latestcard__more">
                <img src=../../images/plus-orange.svg alt="more">
            </span>
                  <p class="cmp-text">
        At the NIADA Convention and Expo, George Verkamp (shown above), Vice President of Sales & Business Development at ALLDATA...
    </p>
              
<a class="cmp-cardlink" href="https://www.google.com">Learn More</a>

        </div>
    </div>
</div>
                </div>
                                <div class="more-news d-none d-md-block">
                    <button class="cmp-button btn btn-outline-secondary">see this month's issue of alldata news</button>
                </div>
            </div>
        </div>
    </div>

</div>

            </div>
    
</section>
<div class="cmp-footer skew-0">
    <div class="cmp-footer__main row">
        <div class="cmp-footer__main-lists-continer card-columns col-lg-8">
                            
<div class="cmp-collapse-list">
    <div class="cmp-collapse-list__title">
        Products
        <button class="cmp-collapse-list-button__show-more  d-lg-none">
            




    <img class="cmp-image " src="/images/list_more.svg" alt="show more">

        </button>
        <button class="cmp-collapse-list-button__show-less  d-none d-lg-none">
            




    <img class="cmp-image " src="/images/list_close.svg" alt="show less">

        </button>
    </div>
    <div class="cmp-collapse-list__content list-closed" aria-hidden="true" aria-expanded="false">
        <ul>
                            <li>
                                        ALLDATA Repair
                                    </li> 
                            <li>
                                        <a href="www.google.com">ALLDTA Collision</a>
                                    </li> 
                            <li>
                                        <a href="www.google.com">ALLDATA Mobile</a>
                                    </li> 
                            <li>
                                        <a href="www.google.com">ALLDATA Diagnostics</a>
                                    </li> 
                            <li>
                                        <a href="www.google.com">ALLDATA Tech-Assits</a>
                                    </li> 
                            <li>
                                        <a href="www.google.com">ALLDATA Manage Online</a>
                                    </li> 
                            <li>
                                        <a href="www.google.com">ALLDATA Shop Manager</a>
                                    </li> 
                    </ul>
    </div>
</div>

                            
<div class="cmp-collapse-list">
    <div class="cmp-collapse-list__title">
        Support
        <button class="cmp-collapse-list-button__show-more  d-lg-none">
            




    <img class="cmp-image " src="/images/list_more.svg" alt="show more">

        </button>
        <button class="cmp-collapse-list-button__show-less  d-none d-lg-none">
            




    <img class="cmp-image " src="/images/list_close.svg" alt="show less">

        </button>
    </div>
    <div class="cmp-collapse-list__content list-closed" aria-hidden="true" aria-expanded="false">
        <ul>
                            <li>
                                        <a href="www.google.com">Popular Topics</a>
                                    </li> 
                            <li>
                                        <a href="www.google.com">Product Support</a>
                                    </li> 
                            <li>
                                        <a href="www.google.com">Account Support</a>
                                    </li> 
                            <li>
                                        <a href="www.google.com">Training & Certificacions</a>
                                    </li> 
                    </ul>
    </div>
</div>

                            
<div class="cmp-collapse-list">
    <div class="cmp-collapse-list__title">
        Resources
        <button class="cmp-collapse-list-button__show-more  d-lg-none">
            




    <img class="cmp-image " src="/images/list_more.svg" alt="show more">

        </button>
        <button class="cmp-collapse-list-button__show-less  d-none d-lg-none">
            




    <img class="cmp-image " src="/images/list_close.svg" alt="show less">

        </button>
    </div>
    <div class="cmp-collapse-list__content list-closed" aria-hidden="true" aria-expanded="false">
        <ul>
                            <li>
                                        <a href="www.google.com">Product Resources</a>
                                    </li> 
                            <li>
                                        <a href="www.google.com">Teach tips</a>
                                    </li> 
                            <li>
                                        <a href="www.google.com">ALLDATA News</a>
                                    </li> 
                    </ul>
    </div>
</div>

                            
<div class="cmp-collapse-list">
    <div class="cmp-collapse-list__title">
        About Us
        <button class="cmp-collapse-list-button__show-more  d-lg-none">
            




    <img class="cmp-image " src="/images/list_more.svg" alt="show more">

        </button>
        <button class="cmp-collapse-list-button__show-less  d-none d-lg-none">
            




    <img class="cmp-image " src="/images/list_close.svg" alt="show less">

        </button>
    </div>
    <div class="cmp-collapse-list__content list-closed" aria-hidden="true" aria-expanded="false">
        <ul>
                            <li>
                                        <a href="www.google.com">Partners </a>
                                    </li> 
                            <li>
                                        <a href="www.google.com">Press</a>
                                    </li> 
                            <li>
                                        <a href="www.google.com">Carrers</a>
                                    </li> 
                    </ul>
    </div>
</div>

                            
<div class="cmp-collapse-list">
    <div class="cmp-collapse-list__title">
        Contact us
        <button class="cmp-collapse-list-button__show-more  d-lg-none">
            




    <img class="cmp-image " src="/images/list_more.svg" alt="show more">

        </button>
        <button class="cmp-collapse-list-button__show-less  d-none d-lg-none">
            




    <img class="cmp-image " src="/images/list_close.svg" alt="show less">

        </button>
    </div>
    <div class="cmp-collapse-list__content list-closed" aria-hidden="true" aria-expanded="false">
        <ul>
                            <li>
                                        <a href="www.google.com">800-697-2533</a>
                                    </li> 
                            <li>
                                        <a href="www.google.com">Email Customer Support</a>
                                    </li> 
                            <li>
                                        <a href="www.google.com">Request a Demo </a>
                                    </li> 
                            <li>
                                        <a href="www.google.com">More Options</a>
                                    </li> 
                    </ul>
    </div>
</div>

                            
<div class="cmp-collapse-list">
    <div class="cmp-collapse-list__title">
        Related sites
        <button class="cmp-collapse-list-button__show-more  d-lg-none">
            




    <img class="cmp-image " src="/images/list_more.svg" alt="show more">

        </button>
        <button class="cmp-collapse-list-button__show-less  d-none d-lg-none">
            




    <img class="cmp-image " src="/images/list_close.svg" alt="show less">

        </button>
    </div>
    <div class="cmp-collapse-list__content list-closed" aria-hidden="true" aria-expanded="false">
        <ul>
                            <li>
                                        <a href="www.google.com">ALLDATA Mexico</a>
                                    </li> 
                            <li>
                                        <a href="www.google.com">ALLDTA Canada</a>
                                    </li> 
                            <li>
                                        <a href="www.google.com">ALLDATA Europe</a>
                                    </li> 
                            <li>
                                        <a href="www.google.com">ALLDATA DIY</a>
                                    </li> 
                            <li>
                                        <a href="www.google.com">AutoZone</a>
                                    </li> 
                    </ul>
    </div>
</div>

                    </div>
       
        <div class="cmp-footer__main-social col-lg-4 p-lg-0">
                  <p class="cmp-text">
        Sign up to receive email updates 
    </p>
              <img src="../../images/updateArrow.svg" alt="Sing Up">
                          <div class="cmp-footer__social-media">
                      <p class="cmp-text">
        Follow Us
    </p>
                                                             <a class="mr-3" href="www.youtube.com">




    <img class="cmp-image " src="/images/socialyt.svg" alt="visit our channel!">

</a>
                                                                                                                   <a class="mr-3" href="www.linkedin.com">




    <img class="cmp-image " src="/images/sociallink.svg" alt="visit our channel!">

</a>
                                                                               <a class="mr-3" href="www.twitter.com">




    <img class="cmp-image " src="/images/socialtw.svg" alt="visit our channel!">

</a>
                                                                               <a class="mr-3" href="www.instagram.com">




    <img class="cmp-image " src="/images/socialins.svg" alt="visit our channel!">

</a>
                                                 </div>
                    </div>
    </div>
    <div class="cmp-footer__secondary">
        <ul>
                        <li class="mr-lg-5"><a href="link">© 2019 ALLDATA</a></li>
                        <li class="mr-lg-5"><a href="link">An <strong>AutoZone</strong> Company</a></li>
                        <li class="mr-lg-5"><a href="link">Trademarks</a></li>
                        <li class="mr-lg-5"><a href="link">Terms of Use</a></li>
                        <li class="mr-lg-5"><a href="link">Privacy Policy</a></li>
                    </ul>
    <div>
</div>

