

<div class="cmp-latestcard">
    
<div class="cmp-latestHeading">
    <h6 class="heading-title">news</h6>
    <button class="heading-link">see all news</button>
</div>

    <div class="cmp-latestcard-content">
        <div class="cmp-latestcard__image ">
            <div class="d-none d-md-block">
                
<div class="cmp-imageblue bg-primary">
    




    <img class="cmp-image " src="/images/carfix.jpg" alt=""    >

    
    

</div>            </div>
            <div class="d-md-none">
                




    <img class="cmp-image " src="/images/carfix.jpg" alt=""    >

    
    

            </div>
        </div>
        <div class="cmp-latestcard__content">
            
 <h6 class="cmp-heading h6   ">
    Independent collision shops
 </h6>

   
            <span class="cmp-latestcard__more">
                <img src=../../images/plus-orange.svg alt="more">
            </span>
                  <p class="cmp-text">
        Our Collision Advantage integrates with the three major estimating systems, analyzing your estimate in seconds and displaying on a single screen.
    </p>
              
<a class="cmp-cardlink" href="https://www.google.com">Learn More</a>

        </div>
    </div>
</div>

