




<section class="cmp-skew columns is-centered skew-6   bg-primary-100  "
    >


    <div class="inner-section ">
                    <div class="cmp-latest">
    <div class="container">
        
 <h2 class="cmp-heading h2    has-line ">
    see the latest
 </h2>

         
      
<svg class="cmp-threelines" xmlns="http://www.w3.org/2000/svg" width="61" height="17" viewBox="0 0 61 17">
    <g fill="#F16824" fill-rule="evenodd">
        <path d="M9.59 0L0 17h7.083L17 0zM31.59 0L22 17h7.083L39 0zM53.59 0L44 17h7.083L61 0z"/>
    </g>
</svg>


   

        <div class="cmp-latestcards__cardcontainer">
            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="cmp-latestcard">
    
<div class="cmp-latestHeading">
    <h6 class="heading-title">News</h6>
    <button class="heading-link">see all news</button>
</div>

    <div class="cmp-latestcard-content">
        <div class="cmp-latestcard__image ">
            <div class="d-none d-md-block">
                
<div class="cmp-imageblue bg-primary">
    




    <img class="cmp-image " src="/images/carfix.jpg" alt=""    >

    
    

</div>            </div>
            <div class="d-md-none">
                




    <img class="cmp-image " src="/images/carfix.jpg" alt=""    >

    
    

            </div>
        </div>
        <div class="cmp-latestcard__content">
            
 <h6 class="cmp-heading h6   ">
    Five ways technology can help your dealership service
 </h6>

   
            <span class="cmp-latestcard__more">
                <img src=../../images/plus-orange.svg alt="more">
            </span>
                  <p class="cmp-text">
        At the NIADA Convention and Expo, George Verkamp (shown above), Vice President of Sales & Business Development at ALLDATA...
    </p>
              
<a class="cmp-cardlink" href="https://www.google.com">Learn More</a>

        </div>
    </div>
</div>
                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="cmp-latestcard">
    
<div class="cmp-latestHeading">
    <h6 class="heading-title">Teach tips</h6>
    <button class="heading-link">See all tips</button>
</div>

    <div class="cmp-latestcard-content">
        <div class="cmp-latestcard__image ">
            <div class="d-none d-md-block">
                
<div class="cmp-imageblue bg-primary">
    




    <img class="cmp-image " src="/images/carfix.jpg" alt=""    >

    
    

</div>            </div>
            <div class="d-md-none">
                




    <img class="cmp-image " src="/images/carfix.jpg" alt=""    >

    
    

            </div>
        </div>
        <div class="cmp-latestcard__content">
            
 <h6 class="cmp-heading h6   ">
    Five ways technology can help your dealership service
 </h6>

   
            <span class="cmp-latestcard__more">
                <img src=../../images/plus-orange.svg alt="more">
            </span>
                  <p class="cmp-text">
        At the NIADA Convention and Expo, George Verkamp (shown above), Vice President of Sales & Business Development at ALLDATA...
    </p>
              
<a class="cmp-cardlink" href="https://www.google.com">Learn More</a>

        </div>
    </div>
</div>
                </div>
                                <div class="more-news d-none d-md-block">
                    <button class="cmp-button btn btn-outline-secondary">see this month's issue of alldata news</button>
                </div>
            </div>
        </div>
    </div>

</div>

            </div>
    
</section>
