


<div class="cmp-whatwedo">
    <div class="cmp-whatwedo__bgdesk d-none d-lg-block">
                

<section class="cmp-skew columns is-centered       overflow-unset "
      style=" background-image: url(/images/carfix2.jpg); background-size: cover; border-bottom: 1px solid white; " >


    
    
                        
<div class="cmp-tricolor__position-inverted">
    <div class="tricolor-layer  cmp-tricolor_start"></div>
    <div class="tricolor-layer cmp-tricolor_middle"></div>
    <div class="tricolor-layer cmp-tricolor_end"></div>

    
</div>        
    
    
</section>    </div>
    <div class="cmp-whatwedo__bgmobile d-lg-none">
                

<section class="cmp-skew columns is-centered skew-8     "
      style=" background-image: url(/images/carfix2.jpg); background-size: cover; border-bottom: 1px solid white; " >


    <div class="inner-section ">
                                <div class="cmp-whatwedo__mob-bluefilter"></div>
        
            </div>
    
</section>    </div>
    <div class="cmp-whatwedo__about-us">
        
<div class="cmp-jumbo ">



   
 <h2 class="cmp-heading h2  cmp-jumbo__heading    has-line ">
    WHA WE DO
 </h2>

         
      
<svg class="cmp-threelines" xmlns="http://www.w3.org/2000/svg" width="61" height="17" viewBox="0 0 61 17">
    <g fill="#F16824" fill-rule="evenodd">
        <path d="M9.59 0L0 17h7.083L17 0zM31.59 0L22 17h7.083L39 0zM53.59 0L44 17h7.083L61 0z"/>
    </g>
</svg>


   
 
         <p class="cmp-text">
        We are a <strong>data-driven solutions provider</strong> working <strong>hard</strong> and <strong>smart</strong> to help automotive repair shops be the <strong>best they can be</strong>.
    </p>
  
         <button class="cmp-button btn btn-outline-secondary">About Us</button>


     <button class="cmp-servcard__more"><img src=../../images/plus-orange.svg alt="more"> no/ and path</button>
     
     


    </div>


   
   
   
   
  




    </div>
</div>



