{% set content %}
	<div class="field field--name-field-brand-block-info field--type-entity-reference-revisions field--label-hidden field__items">
		<div>1</div>
		<div>2</div>
		<div>3</div>
	</div>
{% endset %}

{% include "@cols" %}