<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>

{% set count = companies.length / 6 %}
{% set count = count|round(0, 'ceil') %}
{% set lenght = companies.length %}
{% set i = 0 %}
<div class="cmp-companies">
  <div class="silder-container-lg d-none d-lg-block">
    <button id="prev-lg" class="slider-control prev-button">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="9" height="15" viewBox="0 0 9 15">
            <path  fill-rule="evenodd" d="M7.116 0L8.36 1.251 2.485 7.162l5.875 5.911-1.244 1.251L0 7.162z"/>
        </svg>

        <span class="sr-only">Previous</span>
    </button>
    <button id="next-lg" class"slider-control next-button">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="9" height="15" viewBox="0 0 9 15">
            <path fill-rule="evenodd" d="M1.244 0L0 1.251l5.875 5.911L0 13.073l1.244 1.251L8.36 7.162z"/>
        </svg>
        <span class="sr-only">Next</span>
    </button>
    <div class="companies-slider-lg"> 
        {% for company in companies %}
        <div class="cmp-companies-company ">
            <span class="cmp-company-type d-none d-lg-block mb-lg-3">{{company.affiliation}}</span>
            {% include "units/image/image.twig" with company %}
        </div>
        {% endfor %}
    </div>
  </div>

  <div class="slider-container-mob d-block d-lg-none">
    <div class="companies-slider-mob"> 
      {% for company in companies %}
        
        {% if i == 0 %}
        <div class="cmp-companies-company">
        {% endif %}
          <div class="cmp-companie-logo">
            {% include "units/image/image.twig" with company %}
            <span class="cmp-company-type d-lg-none mt-2">{{company.affiliation}}</span>
          </div>
           {% set lenght = lenght - 1 %}
          {% set i = i + 1 %}
        {% if i == 6 or lenght == 0 %}
        {% set i = 0 %}
        </div>
        {% endif %}
      {% endfor %}
    </div>
    <div id="mov-nav" class="nav-container">
    {% for count in 1..count %}
      <button class"nav-button"></button>
    {% endfor %}
    </div>
    <button id="prev-mob" class="slider-control prev-button">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="9" height="15" viewBox="0 0 9 15">
            <path  fill-rule="evenodd" d="M7.116 0L8.36 1.251 2.485 7.162l5.875 5.911-1.244 1.251L0 7.162z"/>
        </svg>

        <span class="sr-only">Previous</span>
    </button>
    <button id="next-mob" class"slider-control next-button">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="9" height="15" viewBox="0 0 9 15">
            <path fill-rule="evenodd" d="M1.244 0L0 1.251l5.875 5.911L0 13.073l1.244 1.251L8.36 7.162z"/>
        </svg>
        <span class="sr-only">Next</span>
    </button>
  </div>
    
</div>