{% set MB_NUMBER = 6 %}
{% set DK_NUMBER = 5 %}
{% set countMobile = companies.length / MB_NUMBER %}
{% set countMobile = countMobile|round(0, 'ceil') %}
{% set countDesktop = companies.length / DK_NUMBER %}
{% set countDesktop = countDesktop|round(0, 'ceil') %}
{% set lenght = companies.length %}
{% set template = 'companies--page' %}

<div class="cmp-companies cmp-companies__bs">
	<div class="cmp-companies-sm d-lg-none">

		{% set modelsMB = [] %}

		{% for idx in 0..(countMobile-1) %}
		  {% set modelsMB = modelsMB|merge([ {companies: companies|slice((idx* MB_NUMBER), MB_NUMBER)}]) %}
		{% endfor %}

		{% include "@slider--dyn" with {carouselId: 'carouselCompanyMB', models : modelsMB, sameHeight: true, template : template} %}


	</div>

	<div class="cmp-companies-lg d-none d-lg-block">
		{% set modelsDK = [] %}
		{% for idx in 0..(countDesktop-1) %}
		  {% set modelsDK = modelsDK|merge([ {companies: companies|slice((idx* DK_NUMBER), DK_NUMBER)}]) %}
		{% endfor %}
		{% include "@slider--dyn" with {carouselId: 'carouselCompanyDK', models : modelsDK, sameHeight: true, template : template} %}

	</div>

</div>
