{% set content %}
<div class="cmp-latest">
    <div class="container">
        {% include "@heading" with 
            {
                "headingLevel": "h2",
                "threelines": true,
            } 
        %}

        <div class="cmp-latestcards__cardcontainer">
            <div class="row">
                {% for card in cards %}
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    {% include "@latestcard" with card %}
                </div>
                {% endfor %}
                <div class="more-news d-none d-md-block">
                    {% include "@button" %}
                </div>
            </div>
        </div>
    </div>

</div>
{% endset %}

{% include "@skew" with {content : content, skewBg: 'bg-primary', skewClass:'skew-6' } %}