
{% if inverted %}
<div class="cmp-tricolor__position-inverted">
    <div class="tricolor-layer  cmp-tricolor_start"></div>
    <div class="tricolor-layer cmp-tricolor_middle"></div>
    <div class="tricolor-layer cmp-tricolor_end"></div>
{% else %}
<div class="cmp-tricolor__position">
    <div class="tricolor-layer  cmp-tricolor_start"></div>
    <div class="tricolor-layer cmp-tricolor_middle"></div>
    <div class="tricolor-layer cmp-tricolor_end"></div>
{% endif %}

    
</div>