/**
 *  Main css for Quote
 */

.cmp-quote {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  background-color: $white;

  img:last-child {
    align-self: flex-end;
  }

  blockquote {
    margin-top: 1rem;

    p {
      font-size: fromPxtoRem(24);
      line-height: 1.38;
      margin-bottom: fromPxtoRem(20);
    }

    footer {
      opacity: 0.54;
      font-size: fromPxtoRem(14);
      line-height: normal;
      letter-spacing: normal;
    }
  }
}
