<div class="js-carrousel relative pb1 news-carrousel">
  <ol
    class="js-carrousel__control__list news-carrousel__control__list"
    role="tablist"
  >
    <li
      class="js-carrousel__control__list__item news-carrousel__control__list__item"
      role="presentation"
    >
      <a
        class="js-carrousel__control__list__link news-carrousel__control__list__link"
        id="label_id_carrousel_content_4dt0u1hjkl_0"
        role="tab"
        aria-controls="id_carrousel_content_4dt0u1hjkl_0"
        aria-selected="true"
        data-carrousel-control-element-number="1"
        tabindex="0"
        ><span class="invisible">First content zone</span></a
      >
    </li>
    <li
      class="js-carrousel__control__list__item news-carrousel__control__list__item"
      role="presentation"
    >
      <a
        class="js-carrousel__control__list__link news-carrousel__control__list__link"
        id="label_id_carrousel_content_4dt0u1hjkl_1"
        role="tab"
        aria-controls="id_carrousel_content_4dt0u1hjkl_1"
        aria-selected="false"
        data-carrousel-control-element-number="2"
        tabindex="-1"
        ><span class="invisible">Second content zone</span></a
      >
    </li>
    <li
      class="js-carrousel__control__list__item news-carrousel__control__list__item"
      role="presentation"
    >
      <a
        class="js-carrousel__control__list__link news-carrousel__control__list__link"
        id="label_id_carrousel_content_4dt0u1hjkl_2"
        role="tab"
        aria-controls="id_carrousel_content_4dt0u1hjkl_2"
        aria-selected="false"
        data-carrousel-control-element-number="3"
        tabindex="-1"
        ><span class="invisible">Third content zone</span></a
      >
    </li>
  </ol>
  <div
    class="js-carrousel__button-container news-carrousel__button-container news-carrousel__button__previous"
  >
    <button
      type="button"
      id="js-carrousel__button__previous_4dt0u1hjkl"
      title="See previous content"
      class="js-carrousel__button__previous news-carrousel__button__button"
    >
      <img
        src="./left.svg"
        alt="See previous content"
        class="news-carrousel__button__img"
      />
    </button>
  </div>
  <div
    class="js-carrousel__container mod--hidden mb1 news-carrousel__container slide"
    data-carrousel-btn-previous-img="./left.svg"
    data-carrousel-btn-next-img="./right.svg"
    data-carrousel-btn-previous-text="See previous content"
    data-carrousel-btn-next-text="See next content"
    data-carrousel-prefix-class="news"
    data-carrousel-span-text-class="invisible"
    data-carrousel-transition="slide"
    data-carrousel-existing-hx="h2"
    data-carrousel-active-slide="1"
  >
    <div
      class="js-carrousel__content news-carrousel__content carrousel__content"
      role="tabpanel"
      id="id_carrousel_content_4dt0u1hjkl_0"
      aria-hidden="false"
      aria-labelledby="label_id_carrousel_content_4dt0u1hjkl_0"
    >
      <h2 tabindex="-1">First content zone</h2>
      <p>
        This first example of
        <a href="https://van11y.net/accessible-carrousel/" class="link"
          >accessible carrousel</a
        >
        is animated. You may test it!
      </p>
    </div>
    <!--
    -->
    <div
      class="js-carrousel__content news-carrousel__content carrousel__content"
      role="tabpanel"
      id="id_carrousel_content_4dt0u1hjkl_1"
      aria-hidden="true"
      aria-labelledby="label_id_carrousel_content_4dt0u1hjkl_1"
    >
      <h2 tabindex="-1">Second content zone</h2>
      <p>
        You may use <kbd>Tab</kbd>. Controls below can be browsed using
        <kbd>left</kbd> and <kbd>right</kbd> arrows on the keyboard.
      </p>
    </div>
    <!--
    -->
    <div
      class="js-carrousel__content news-carrousel__content carrousel__content"
      role="tabpanel"
      id="id_carrousel_content_4dt0u1hjkl_2"
      aria-hidden="true"
      aria-labelledby="label_id_carrousel_content_4dt0u1hjkl_2"
    >
      <h2 tabindex="-1">Third content zone</h2>
      <p>
        This example is using <code>h2</code> headings (which will be used for
        buttons bellow), so it is the perfect case study.
      </p>
    </div>
    <!--
      -->
  </div>

  <div
    class="js-carrousel__button-container news-carrousel__button-container news-carrousel__button__next"
  >
    <button
      type="button"
      id="js-carrousel__button__next_4dt0u1hjkl"
      title="See next content"
      class="js-carrousel__button__next news-carrousel__button__button"
    >
      <img
        src="./right.svg"
        alt="See next content"
        class="news-carrousel__button__img"
      />
    </button>
  </div>
</div>
