/**
 *  Main css for Tricolor
 */

.cmp-tricolor {
  display: flex;
  overflow: hidden;
  margin-left: -16%;
  margin-right: -16%;
  min-height: 400px;

  .tricolor-layer {
    transform: skew(-25deg);
    width: 70%;
    opacity: 0.3;
  }

  .cmp-tricolor_start {
    background-color: lightcoral;
  }

  .cmp-tricolor_middle {
    background-color: gray;
    width: 70%;
  }

  .cmp-tricolor_end {
    background-color: blue;
  }
}

.cmp-tricolor__position {
  position: absolute;
  overflow-x: hidden;
  left: 0;
  width: 100%;
  height: 100%;

  .tricolor-layer {
    transform: skew(-25deg);
    width: 70%;
    height: 100%;
    position: absolute;
  }

  .cmp-tricolor_start {
    background-color: white;
    left: -40%;
    opacity: 1;
  }

  .cmp-tricolor_middle {
    background-color: #f8f9fa;
    width: 40%;
    left: 30%;
    opacity: 0.7;
  }

  .cmp-tricolor_end {
    background-color: #05056696;
    right: -40%;
    opacity: 0.7;
  }
}

.cmp-tricolor__position-inverted {
  position: absolute;
  overflow-x: hidden;
  left: 0;
  width: 100%;
  height: 100%;

  .tricolor-layer {
    transform: skew(25deg);
    width: 70%;
    height: 100%;
    position: absolute;
  }

  .cmp-tricolor_start {
    background-color: #05056696;
    left: -40%;
    opacity: 0.7;
  }

  .cmp-tricolor_middle {
    background-color: #f8f9fa;
    width: 40%;
    left: 30%;
    opacity: 0.7;
  }

  .cmp-tricolor_end {
    background-color: white;
    right: -40%;
    opacity: 1;
  }
}
