<div class="cmp-quote">
    {% include "units/image/image.twig" with {src:'/images/quote-start.svg'} %}
    <blockquote cite="https://www.huxley.net/bnw/four.html">
        <p>{{text}}</p>
        <footer>{{footer}}</footer>
    </blockquote>
    {% include "units/image/image.twig" with {src:'/images/quote-end.svg'} %}
</div>