<div role="presentation" class="cmp-servcard mobile-overflow mb-lg-5 mb-md-3 mb-sm-3 mb-3 {% if lastCard %} last-card {% endif %} 
{% if middlePos %}mx-xl-4 mx-lg-3 mx-md-0 mx-sm-0{% endif %}">
    <div class="cmp-servcard__image">
        {% include "@imageblue" %}
    </div>
    <div class="cmp-servcard__content">
        {% include "@heading" %}
        <button class="cmp-servcard__more"><img src={{'/images/plus-orange.svg' |path}} alt="more"></button>
        <div class="cmp-servcard__description{% if lastCard %}-lastcard {% endif %} {% if not lastCard %} d-none d-lg-block{% endif %}" aria-hidden="true" aria-expanded="false">
            {% include "@simpletext" %}
            {% include "@cardlink" %}
        </div>
    </div>
    
</div>