

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>kykyn</title>
    <base href="/alldatacomponents/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script defer="" src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="/alldatacomponents/global.5bf4ab35.css">
  </head>

  <body>
    <h2>bye</h2>
    








<section class="cmp-skew columns is-centered skew-6 branding   bg-primary  "
    >


    <div class="inner-section ">
                        
    <div class="cmp-branding text-white py-4 px-5 pb-lg-0">
        
<div class="cmp-jumbo  cmp-jumbo__simple ">



   
 <h2 class="cmp-heading h2  cmp-jumbo__heading   ">
    Why ALLDATA
 </h2>

   
 
         <p class="cmp-text">
        ALLDATA is the industry’s #1 choice for OEM-accurate mechanical and collision repair information, shop management software, and support services, trusted by more than 400,000 technicians in over 115,000 shops worldwide.
    </p>
  
   </div>


   
   
   
   
  




        

<div class="cmp-cols  cols-1   cols-lg-3  ">
   


           <div class="field field--name-field-brand-block-info field--type-entity-reference-revisions field--label-hidden field__items">
	            

<div class="cmp-brandingcard text-center             
                                          
                        
                                          
                                                      
            
                
        py-4 py-lg-4 px-lg-4
      ">


    

        




    <img class="cmp-image " src="/images/mechanic.svg" alt="mechanic">

    
 <h3 class="cmp-heading h3   ">
    Repair Information
 </h3>

   
          <p class="cmp-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur accumsan sapien a orci pharetra pretium.
    </p>
  
    <hr class="cmp-brandingcard__line">
</div>

            

<div class="cmp-brandingcard text-center             
                                          
                        
                                          
                                                      
            
                
        py-4 py-lg-4 px-lg-4
      ">


    

        




    <img class="cmp-image " src="/images/tyre.svg" alt="tyre">

    
 <h3 class="cmp-heading h3   ">
    diagnostics
 </h3>

   
          <p class="cmp-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur accumsan sapien a orci pharetra pretium.
    </p>
  
    <hr class="cmp-brandingcard__line">
</div>

            

<div class="cmp-brandingcard text-center             
                                          
                        
                                          
                                                      
            
                
        py-4 py-lg-4 px-lg-4
      ">


    

        




    <img class="cmp-image " src="/images/key.svg" alt="key">

    
 <h3 class="cmp-heading h3   ">
    shop management
 </h3>

   
          <p class="cmp-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur accumsan sapien a orci pharetra pretium.
    </p>
  
    <hr class="cmp-brandingcard__line">
</div>

    
</div>

      
</div>
    </div>

            </div>
    
</section>

    <script src="/alldatacomponents/js.ccc2ecca.js"></script>
  </body>
</html>

