

<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>kykyn</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script defer="" src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<link rel="stylesheet" href="/global.cf28e306.css">

</head>

<body>
	
<div class="cmp-collapse-list">
    <div class="cmp-collapse-list__title">
        Products
        <button class="cmp-collapse-list-button__show-more  d-lg-none">
            




    <img class="cmp-image " src="/images/list_more.svg" alt="show more">

        </button>
        <button class="cmp-collapse-list-button__show-less  d-none d-lg-none">
            




    <img class="cmp-image " src="/images/list_close.svg" alt="show less">

        </button>
    </div>
    <div class="cmp-collapse-list__content list-closed" aria-hidden="true" aria-expanded="false">
        <ul>
                            <li>
                                        <a href="www.google.com">ALLDATA Repair</a>
                                    </li> 
                            <li>
                                        <a href="www.google.com">ALLDTA Collision</a>
                                    </li> 
                            <li>
                                        <a href="www.google.com">ALLDATA Mobile</a>
                                    </li> 
                            <li>
                                        <a href="www.google.com">ALLDATA Diagnostics</a>
                                    </li> 
                            <li>
                                        <a href="www.google.com">ALLDATA Tech-Assits</a>
                                    </li> 
                            <li>
                                        <a href="www.google.com">ALLDATA Manage Online</a>
                                    </li> 
                            <li>
                                        <a href="www.google.com">ALLDATA Shop Manager</a>
                                    </li> 
                    </ul>
    </div>
</div>


	<script src="/js.ccc2ecca.js"></script>
</body>

</html>
