

<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>kykyn</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script defer="" src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<link rel="stylesheet" href="/global.cf28e306.css">

</head>

<body>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<header class="cmp-header">
   
    <!-- DESKTOP -->
    <div class="cmp-header__desktop d-none d-lg-block">
        <div class="cmp-header__nav-setup">
            <nav class="navbar navbar-expand-lg mx-lg-3">
                <div class="collapse navbar-collapse" id="nav-setup">
                    <ul class="navbar-nav ml-auto">
                                                                                <li class="nav-setup-item nav-item ml-lg-3">
                                <a class="nav-link">
                                    800-697-2533
                                </a>
                            </li>
                                                                                                            <li class="nav-setup-item nav-item ml-lg-3">
                                <a class="nav-link">
                                    CONTACT A REP
                                </a>
                            </li>
                                                                                                            <li class="nav-setup-item nav-item dropdown ml-lg-3">
                                <a class="nav-link dropdown-toggle" id="US" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    US
                                </a>
                                <div class="dropdown-menu" aria-labelledby="US">
                                                                        <a class="dropdown-item px-2">
                                        Canada
                                    </a>
                                                                        <a class="dropdown-item px-2">
                                        Europe
                                    </a>
                                                                        <a class="dropdown-item px-2">
                                        Mexico
                                    </a>
                                                                        <a class="dropdown-item px-2">
                                        US
                                    </a>
                                                                    </div>
                            </li>
                                                                                                            <li class="nav-setup-item nav-item dropdown ml-lg-3">
                                <a class="nav-link dropdown-toggle" id="ENGLISH" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    ENGLISH
                                </a>
                                <div class="dropdown-menu" aria-labelledby="ENGLISH">
                                                                        <a class="dropdown-item px-2">
                                        English
                                    </a>
                                                                        <a class="dropdown-item px-2">
                                        Español
                                    </a>
                                                                        <a class="dropdown-item px-2">
                                        Français
                                    </a>
                                                                    </div>
                            </li>
                                                                                                            <li class="nav-setup-item nav-item ml-lg-3">
                                <a class="nav-link">
                                    LOGIN
                                </a>
                            </li>
                                                                        </ul>
                </div>
            </nav>
        </div>
        <div class="cmp-header__nav-menu">
            <nav class="navbar navbar-expand-lg" role="navigation" aria-label="main navigation">
                <div class="logo">
                    <a class="navbar-brand" href="/"><img src="/images/logo.png"></a>
                    <hr class="sublogo">
                </div>
                
                <div id="nav-menu" class="navbar-menu navbar-collapse">
                    <ul class="nav navbar-nav" role="menu">
                                                                                <li class="nav-menu-item nav-item pl-lg-1 pr-lg-4 px-xl-4 has-dropdown" role="presentation">
                                <a href="" class="nav-link has-dropdown" id="PRODUCTS" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0">
                                    PRODUCTS
                                </a>
                                <div class="nav-submenu" id="PRODUCTS-submenu" aria-labelledby="PRODUCTS" aria-hidden="true">
                                    <div class="col-lg-1"></div>
                                                                                                                <div class="card-columns col-lg-9 mt-lg-5">
                                                                        
                                                                            <div class="nav-group">
                                            
                                                                                        <h6><a href="" class="submenu-title">Repair Information</a></h6>
                                                                                        <ul>
                                                                                            <li><a href="" class="submenu-link">ALLDATA Repair</a></li>
                                                                                            <li><a href="" class="submenu-link">ALLDATA Collision</a></li>
                                                                                            <li><a href="" class="submenu-link">ALLDATA Mobile</a></li>
                                                                                        </ul>
                                                                                    </div>
                                        
                                                                            <div class="nav-group">
                                            
                                                                                        <h6><a href="" class="submenu-title">Diagnostics</a></h6>
                                                                                        <ul>
                                                                                            <li><a href="" class="submenu-link">ALLDATA Manage Onlie</a></li>
                                                                                            <li><a href="" class="submenu-link">ALLDATA Diagnostics</a></li>
                                                                                            <li><a href="" class="submenu-link">ALLDATA Tech-Assist</a></li>
                                                                                        </ul>
                                                                                    </div>
                                        
                                                                            <div class="nav-group">
                                            
                                                                                        <h6><a href="" class="submenu-title">shop management</a></h6>
                                                                                        <ul>
                                                                                            <li><a href="" class="submenu-link">ALLDATA Manage Onlie</a></li>
                                                                                            <li><a href="" class="submenu-link">ALLDATA Titan</a></li>
                                                                                        </ul>
                                                                                    </div>
                                        
                                                                            <div class="nav-group">
                                            
                                                                                        <img src="/images/workshop.png" alt="What's Right For My Shop">
                                                                                        <h6><a href="" class="submenu-title">What's Right For My Shop</a></h6>
                                                                                    </div>
                                        
                                                                            <div class="nav-group">
                                            
                                                                                        <img src="/images/workshop.png" alt="Testimonials">
                                                                                        <h6><a href="" class="submenu-title">Testimonials</a></h6>
                                                                                    </div>
                                        
                                                                        </div>
                                    
                                    
                                    
                                </div>
                            </li>
                                                                                                            <li class="nav-menu-item nav-item pl-lg-1 pr-lg-4 px-xl-4 has-dropdown" role="presentation">
                                <a href="" class="nav-link has-dropdown" id="SUPPORT" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0">
                                    SUPPORT
                                </a>
                                <div class="nav-submenu" id="SUPPORT-submenu" aria-labelledby="SUPPORT" aria-hidden="true">
                                    <div class="col-lg-1"></div>
                                                                                                                <div class="card-columns col-lg-9 mt-lg-5">
                                                                        
                                                                            <div class="nav-group">
                                            
                                                                                        <h6><a href="" class="submenu-title">Popular Topics</a></h6>
                                                                                        <ul>
                                                                                            <li><a href="" class="submenu-link">Getting Started</a></li>
                                                                                            <li><a href="" class="submenu-link">Recover User Name or Password</a></li>
                                                                                            <li><a href="" class="submenu-link">Vehicle Information Request</a></li>
                                                                                            <li><a href="" class="submenu-link">Login Center</a></li>
                                                                                        </ul>
                                                                                    </div>
                                        
                                                                            <div class="nav-group">
                                            
                                                                                        <h6><a href="" class="submenu-title">product support</a></h6>
                                                                                        <ul>
                                                                                            <li><a href="" class="submenu-link">ALLDATA Repair</a></li>
                                                                                            <li><a href="" class="submenu-link">ALLDATA Collision</a></li>
                                                                                            <li><a href="" class="submenu-link">ALLDATA Mobile</a></li>
                                                                                            <li><a href="" class="submenu-link">ALLDATA Manage Onlie</a></li>
                                                                                            <li><a href="" class="submenu-link">ALLDATA Diagnostics</a></li>
                                                                                            <li><a href="" class="submenu-link">ALLDATA Tech-Assist</a></li>
                                                                                        </ul>
                                                                                    </div>
                                        
                                                                            <div class="nav-group">
                                            
                                                                                        <h6><a href="" class="submenu-title">Account & billing support</a></h6>
                                                                                        <ul>
                                                                                            <li><a href="" class="submenu-link">Billing Options</a></li>
                                                                                            <li><a href="" class="submenu-link">Account Options</a></li>
                                                                                        </ul>
                                                                                    </div>
                                        
                                                                            <div class="nav-group">
                                            
                                                                                        <h6><a href="" class="submenu-title">Training & certifications</a></h6>
                                                                                        <ul>
                                                                                            <li><a href="" class="submenu-link">Product Training</a></li>
                                                                                            <li><a href="" class="submenu-link">Traninig Videos</a></li>
                                                                                            <li><a href="" class="submenu-link">On-Demand Webinars</a></li>
                                                                                            <li><a href="" class="submenu-link">CAIS Certificaiton Program</a></li>
                                                                                        </ul>
                                                                                    </div>
                                        
                                                                            <div class="nav-group">
                                            
                                                                                        <h6><a href="" class="submenu-title">Contact customer support</a></h6>
                                                                                        <ul>
                                                                                            <li><a href="" class="submenu-link">800-859-3282</a></li>
                                                                                        </ul>
                                                                                    </div>
                                        
                                                                        </div>
                                    
                                    
                                    
                                </div>
                            </li>
                                                                                                            <li class="nav-menu-item nav-item pl-lg-1 pr-lg-4 px-xl-4 has-dropdown" role="presentation">
                                <a href="" class="nav-link has-dropdown" id="RESOURCES" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0">
                                    RESOURCES
                                </a>
                                <div class="nav-submenu" id="RESOURCES-submenu" aria-labelledby="RESOURCES" aria-hidden="true">
                                    <div class="col-lg-1"></div>
                                                                                                                <div class="card-columns col-lg-9 mt-lg-5">
                                                                        
                                                                            <div class="nav-group">
                                            
                                                                                        <h6><a href="" class="submenu-title">product resources</a></h6>
                                                                                        <ul>
                                                                                            <li><a href="" class="submenu-link">ALLDATA Repair</a></li>
                                                                                            <li><a href="" class="submenu-link">ALLDATA Collision</a></li>
                                                                                            <li><a href="" class="submenu-link">ALLDATA Mobile</a></li>
                                                                                            <li><a href="" class="submenu-link">ALLDATA Manage Onlie</a></li>
                                                                                            <li><a href="" class="submenu-link">ALLDATA Diagnostics</a></li>
                                                                                            <li><a href="" class="submenu-link">ALLDATA Tech-Assist</a></li>
                                                                                        </ul>
                                                                                    </div>
                                        
                                                                            <div class="nav-group">
                                            
                                                                                        <h6><a href="" class="submenu-title">ALLDATA news by topic</a></h6>
                                                                                        <ul>
                                                                                            <li><a href="" class="submenu-link">General Auto Repair</a></li>
                                                                                            <li><a href="" class="submenu-link">Collision Auto Repair</a></li>
                                                                                            <li><a href="" class="submenu-link">Shop Management</a></li>
                                                                                            <li><a href="" class="submenu-link">Best Practices</a></li>
                                                                                            <li><a href="" class="submenu-link">Training</a></li>
                                                                                            <li><a href="" class="submenu-link">News</a></li>
                                                                                            <li><a href="" class="submenu-link">Events</a></li>
                                                                                        </ul>
                                                                                    </div>
                                        
                                                                            <div class="nav-group">
                                            
                                                                                        <h6><a href="" class="submenu-title">ALLDATA News</a></h6>
                                                                                        <ul>
                                                                                            <li><a href="" class="submenu-link">Latest Edition</a></li>
                                                                                        </ul>
                                                                                    </div>
                                        
                                                                            <div class="nav-group">
                                            
                                                                                        <h6><a href="" class="submenu-title">Tech Tips</a></h6>
                                                                                    </div>
                                        
                                                                            <div class="nav-group">
                                            
                                                                                        <h6><a href="" class="submenu-title">Industry Webinars</a></h6>
                                                                                    </div>
                                        
                                                                        </div>
                                    
                                    
                                    
                                </div>
                            </li>
                                                                                                            <li class="nav-menu-item nav-item pl-lg-1 pr-lg-4 px-xl-4 has-dropdown" role="presentation">
                                <a href="" class="nav-link has-dropdown" id="ABOUT US" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0">
                                    ABOUT US
                                </a>
                                <div class="nav-submenu" id="ABOUT US-submenu" aria-labelledby="ABOUT US" aria-hidden="true">
                                    <div class="col-lg-1"></div>
                                                                        <div class="col-lg-4 mt-lg-5">
                                        <img src="/images/team.png" alt="ABOUT US">
                                    </div>
                                    
                                                                                                                <div class="col-lg-4 mt-lg-5">
                                                                        
                                                                            <div class="nav-group">
                                            
                                                                                        <h6><a href="" class="submenu-title">ALLDATA LEADERSHIP</a></h6>
                                                                                    </div>
                                        
                                                                            <div class="nav-group">
                                            
                                                                                        <h6><a href="" class="submenu-title">PARNERS</a></h6>
                                                                                    </div>
                                        
                                                                            <div class="nav-group">
                                            
                                                                                        <h6><a href="" class="submenu-title">PRESS</a></h6>
                                                                                    </div>
                                        
                                                                            <div class="nav-group">
                                            
                                                                                        <h6><a href="" class="submenu-title">CARRERS</a></h6>
                                                                                    </div>
                                        
                                                                            <div class="nav-group">
                                            
                                                                                        <h6><a href="" class="submenu-title">CONTACT</a></h6>
                                                                                    </div>
                                        
                                                                        </div>
                                    
                                    
                                    
                                </div>
                            </li>
                                                                                                            <li class="nav-menu-item nav-item pl-lg-1 pr-lg-4 px-xl-4 no-dropdown">
                                <a href="" class="nav-link no-submenu">
                                    BUY NOW
                                </a>
                            </li>
                                                                        </ul>
                </div>
                <div class="navbar-end float-right">
                    <span role="button" class="icon icon-seach mr-lg-3">
                    




    <img class="cmp-image " src="/images/search.svg" alt="Search">

                    </span>
                    <span role="button" class="icon icon-cart mr-lg-5">
                    




    <img class="cmp-image " src="/images/cart.svg" alt="Cart">

                    </span>
                </div>
            </nav>
        </div>
        <div class="blue-filler d-none"></div>
    </div>
    <!-- MOBILE -->
    <div class="cmp-header__mobile d-lg-none">
        <div class="mobile-header">
            <a role="button" class="navbar-item burger-icon p-0 col-1">




    <img class="cmp-image " src="/images/burguermenu.svg" alt="Menu">

</a>
            <a class="navbar-item logo col-7 mr-3 mr-md-5" href="/">




    <img class="cmp-image " src="/images/logo.png" alt="ALLDATA Logo"    >

    
    

</a>
            <a role="button" class="navbar-item cart-icon col-1 p-0 float-right">




    <img class="cmp-image " src="/images/cart.svg" alt="Cart">

</a>
            <a role="button" class="navbar-item search-icon col-1 mr-2 mr-md-3 p-0 float-right">




    <img class="cmp-image " src="/images/search.svg" alt="Search">

</a>
            <hr class="sublogo">
        </div>
        <div class="cmp-header-mobile__nav-setup">
            <nav class="navbar">
                <ul class="navbar-menu">
                    <div class="menu-head">
                        <span role="button" class="close-menu"><img src="/images/closemenu.svg" alt="close"></span>
                    </div>
                                            <li class="main-navbar-item">
                            <a href="#">PRODUCTS 
                                                            




    <img class="cmp-image  float-right " src="/images/menu_go.svg" alt="PRODUCTS">

                                                        </a>
                        </li>
                        <div class="submenu-navbar">
                            <div class="menu-head">
                                <span class="menu-back"><img src="/images/menu-back.svg" alt="back"></span>
                                <span class="close-menu"><img src="/images/closemenu.svg" alt="close"></span>
                            </div>
                            <ul>
                                                                    <li class="submenu-navbar-item">
                                        <a href="#">Repair Information




    <img class="cmp-image  float-right " src="/images/submenuclosed.svg" alt="Repair Information">

</a> 
                                    </li>
                                    <div class="lastLevel-navbar" id="Repair Information">
                                        <ul>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">ALLDATA Repair</a>
                                                </li>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">ALLDATA Collision</a>
                                                </li>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">ALLDATA Mobile</a>
                                                </li>
                                             
                                        </ul>
                                    </div>
                                                                    <li class="submenu-navbar-item">
                                        <a href="#">Diagnostics




    <img class="cmp-image  float-right " src="/images/submenuclosed.svg" alt="Diagnostics">

</a> 
                                    </li>
                                    <div class="lastLevel-navbar" id="Diagnostics">
                                        <ul>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">ALLDATA Manage Onlie</a>
                                                </li>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">ALLDATA Diagnostics</a>
                                                </li>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">ALLDATA Tech-Assist</a>
                                                </li>
                                             
                                        </ul>
                                    </div>
                                                                    <li class="submenu-navbar-item">
                                        <a href="#">shop management




    <img class="cmp-image  float-right " src="/images/submenuclosed.svg" alt="shop management">

</a> 
                                    </li>
                                    <div class="lastLevel-navbar" id="shop management">
                                        <ul>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">ALLDATA Manage Onlie</a>
                                                </li>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">ALLDATA Titan</a>
                                                </li>
                                             
                                        </ul>
                                    </div>
                                                                    <li class="submenu-navbar-item">
                                        <a href="#">What's Right For My Shop




    <img class="cmp-image  float-right " src="/images/submenuclosed.svg" alt="What's Right For My Shop">

</a> 
                                    </li>
                                    <div class="lastLevel-navbar" id="What's Right For My Shop">
                                        <ul>
                                             
                                        </ul>
                                    </div>
                                                                    <li class="submenu-navbar-item">
                                        <a href="#">Testimonials




    <img class="cmp-image  float-right " src="/images/submenuclosed.svg" alt="Testimonials">

</a> 
                                    </li>
                                    <div class="lastLevel-navbar" id="Testimonials">
                                        <ul>
                                             
                                        </ul>
                                    </div>
                                 
                            </ul>
                        </div>
                                            <li class="main-navbar-item">
                            <a href="#">SUPPORT 
                                                            




    <img class="cmp-image  float-right " src="/images/menu_go.svg" alt="SUPPORT">

                                                        </a>
                        </li>
                        <div class="submenu-navbar">
                            <div class="menu-head">
                                <span class="menu-back"><img src="/images/menu-back.svg" alt="back"></span>
                                <span class="close-menu"><img src="/images/closemenu.svg" alt="close"></span>
                            </div>
                            <ul>
                                                                    <li class="submenu-navbar-item">
                                        <a href="#">Popular Topics




    <img class="cmp-image  float-right " src="/images/submenuclosed.svg" alt="Popular Topics">

</a> 
                                    </li>
                                    <div class="lastLevel-navbar" id="Popular Topics">
                                        <ul>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">Getting Started</a>
                                                </li>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">Recover User Name or Password</a>
                                                </li>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">Vehicle Information Request</a>
                                                </li>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">Login Center</a>
                                                </li>
                                             
                                        </ul>
                                    </div>
                                                                    <li class="submenu-navbar-item">
                                        <a href="#">product support




    <img class="cmp-image  float-right " src="/images/submenuclosed.svg" alt="product support">

</a> 
                                    </li>
                                    <div class="lastLevel-navbar" id="product support">
                                        <ul>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">ALLDATA Repair</a>
                                                </li>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">ALLDATA Collision</a>
                                                </li>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">ALLDATA Mobile</a>
                                                </li>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">ALLDATA Manage Onlie</a>
                                                </li>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">ALLDATA Diagnostics</a>
                                                </li>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">ALLDATA Tech-Assist</a>
                                                </li>
                                             
                                        </ul>
                                    </div>
                                                                    <li class="submenu-navbar-item">
                                        <a href="#">Account & billing support




    <img class="cmp-image  float-right " src="/images/submenuclosed.svg" alt="Account & billing support">

</a> 
                                    </li>
                                    <div class="lastLevel-navbar" id="Account & billing support">
                                        <ul>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">Billing Options</a>
                                                </li>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">Account Options</a>
                                                </li>
                                             
                                        </ul>
                                    </div>
                                                                    <li class="submenu-navbar-item">
                                        <a href="#">Training & certifications




    <img class="cmp-image  float-right " src="/images/submenuclosed.svg" alt="Training & certifications">

</a> 
                                    </li>
                                    <div class="lastLevel-navbar" id="Training & certifications">
                                        <ul>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">Product Training</a>
                                                </li>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">Traninig Videos</a>
                                                </li>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">On-Demand Webinars</a>
                                                </li>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">CAIS Certificaiton Program</a>
                                                </li>
                                             
                                        </ul>
                                    </div>
                                                                    <li class="submenu-navbar-item">
                                        <a href="#">Contact customer support




    <img class="cmp-image  float-right " src="/images/submenuclosed.svg" alt="Contact customer support">

</a> 
                                    </li>
                                    <div class="lastLevel-navbar" id="Contact customer support">
                                        <ul>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">800-859-3282</a>
                                                </li>
                                             
                                        </ul>
                                    </div>
                                 
                            </ul>
                        </div>
                                            <li class="main-navbar-item">
                            <a href="#">RESOURCES 
                                                            




    <img class="cmp-image  float-right " src="/images/menu_go.svg" alt="RESOURCES">

                                                        </a>
                        </li>
                        <div class="submenu-navbar">
                            <div class="menu-head">
                                <span class="menu-back"><img src="/images/menu-back.svg" alt="back"></span>
                                <span class="close-menu"><img src="/images/closemenu.svg" alt="close"></span>
                            </div>
                            <ul>
                                                                    <li class="submenu-navbar-item">
                                        <a href="#">product resources




    <img class="cmp-image  float-right " src="/images/submenuclosed.svg" alt="product resources">

</a> 
                                    </li>
                                    <div class="lastLevel-navbar" id="product resources">
                                        <ul>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">ALLDATA Repair</a>
                                                </li>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">ALLDATA Collision</a>
                                                </li>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">ALLDATA Mobile</a>
                                                </li>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">ALLDATA Manage Onlie</a>
                                                </li>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">ALLDATA Diagnostics</a>
                                                </li>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">ALLDATA Tech-Assist</a>
                                                </li>
                                             
                                        </ul>
                                    </div>
                                                                    <li class="submenu-navbar-item">
                                        <a href="#">ALLDATA news by topic




    <img class="cmp-image  float-right " src="/images/submenuclosed.svg" alt="ALLDATA news by topic">

</a> 
                                    </li>
                                    <div class="lastLevel-navbar" id="ALLDATA news by topic">
                                        <ul>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">General Auto Repair</a>
                                                </li>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">Collision Auto Repair</a>
                                                </li>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">Shop Management</a>
                                                </li>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">Best Practices</a>
                                                </li>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">Training</a>
                                                </li>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">News</a>
                                                </li>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">Events</a>
                                                </li>
                                             
                                        </ul>
                                    </div>
                                                                    <li class="submenu-navbar-item">
                                        <a href="#">ALLDATA News




    <img class="cmp-image  float-right " src="/images/submenuclosed.svg" alt="ALLDATA News">

</a> 
                                    </li>
                                    <div class="lastLevel-navbar" id="ALLDATA News">
                                        <ul>
                                                                                            <li class="lastLevel-navbar-item">
                                                    <a href="#">Latest Edition</a>
                                                </li>
                                             
                                        </ul>
                                    </div>
                                                                    <li class="submenu-navbar-item">
                                        <a href="#">Tech Tips




    <img class="cmp-image  float-right " src="/images/submenuclosed.svg" alt="Tech Tips">

</a> 
                                    </li>
                                    <div class="lastLevel-navbar" id="Tech Tips">
                                        <ul>
                                             
                                        </ul>
                                    </div>
                                                                    <li class="submenu-navbar-item">
                                        <a href="#">Industry Webinars




    <img class="cmp-image  float-right " src="/images/submenuclosed.svg" alt="Industry Webinars">

</a> 
                                    </li>
                                    <div class="lastLevel-navbar" id="Industry Webinars">
                                        <ul>
                                             
                                        </ul>
                                    </div>
                                 
                            </ul>
                        </div>
                                            <li class="main-navbar-item">
                            <a href="#">ABOUT US 
                                                            




    <img class="cmp-image  float-right " src="/images/menu_go.svg" alt="ABOUT US">

                                                        </a>
                        </li>
                        <div class="submenu-navbar">
                            <div class="menu-head">
                                <span class="menu-back"><img src="/images/menu-back.svg" alt="back"></span>
                                <span class="close-menu"><img src="/images/closemenu.svg" alt="close"></span>
                            </div>
                            <ul>
                                                                    <li class="submenu-navbar-item">
                                        <a href="#">ALLDATA LEADERSHIP




    <img class="cmp-image  float-right " src="/images/submenuclosed.svg" alt="ALLDATA LEADERSHIP">

</a> 
                                    </li>
                                    <div class="lastLevel-navbar" id="ALLDATA LEADERSHIP">
                                        <ul>
                                             
                                        </ul>
                                    </div>
                                                                    <li class="submenu-navbar-item">
                                        <a href="#">PARNERS




    <img class="cmp-image  float-right " src="/images/submenuclosed.svg" alt="PARNERS">

</a> 
                                    </li>
                                    <div class="lastLevel-navbar" id="PARNERS">
                                        <ul>
                                             
                                        </ul>
                                    </div>
                                                                    <li class="submenu-navbar-item">
                                        <a href="#">PRESS




    <img class="cmp-image  float-right " src="/images/submenuclosed.svg" alt="PRESS">

</a> 
                                    </li>
                                    <div class="lastLevel-navbar" id="PRESS">
                                        <ul>
                                             
                                        </ul>
                                    </div>
                                                                    <li class="submenu-navbar-item">
                                        <a href="#">CARRERS




    <img class="cmp-image  float-right " src="/images/submenuclosed.svg" alt="CARRERS">

</a> 
                                    </li>
                                    <div class="lastLevel-navbar" id="CARRERS">
                                        <ul>
                                             
                                        </ul>
                                    </div>
                                                                    <li class="submenu-navbar-item">
                                        <a href="#">CONTACT




    <img class="cmp-image  float-right " src="/images/submenuclosed.svg" alt="CONTACT">

</a> 
                                    </li>
                                    <div class="lastLevel-navbar" id="CONTACT">
                                        <ul>
                                             
                                        </ul>
                                    </div>
                                 
                            </ul>
                        </div>
                                            <li class="main-navbar-item">
                            <a href="#">BUY NOW 
                                                        </a>
                        </li>
                        <div class="submenu-navbar">
                            <div class="menu-head">
                                <span class="menu-back"><img src="/images/menu-back.svg" alt="back"></span>
                                <span class="close-menu"><img src="/images/closemenu.svg" alt="close"></span>
                            </div>
                            <ul>
                                 
                            </ul>
                        </div>
                                                                                            <li class="secondary-navbar-item">
                                <a href="">
                                    800-697-2533
                                </a>
                            </li>
                                                                                                <li class="secondary-navbar-item">
                                <a href="">
                                    CONTACT A REP
                                </a>
                            </li>
                                                                                                <li class="main-navbar-item">
                                <a href="#">US




    <img class="cmp-image  float-right " src="/images/menu_go.svg" alt="US">

</a>
                            </li>
                            <div class="submenu-navbar">
                                <div class="menu-head">
                                    <span class="menu-back"><img src="/images/menu-back.svg" alt="back"></span>
                                    <span class="close-menu"><img src="/images/closemenu.svg" alt="close"></span>
                                </div>
                                <ul>
                                                                            <li class="submenu-navbar-item">
                                            <a href="#">Canada</a> 
                                        </li>
                                                                            <li class="submenu-navbar-item">
                                            <a href="#">Europe</a> 
                                        </li>
                                                                            <li class="submenu-navbar-item">
                                            <a href="#">Mexico</a> 
                                        </li>
                                                                            <li class="submenu-navbar-item">
                                            <a href="#">US</a> 
                                        </li>
                                     
                                </ul>
                            </div>
                                                                                                <li class="main-navbar-item">
                                <a href="#">ENGLISH




    <img class="cmp-image  float-right " src="/images/menu_go.svg" alt="ENGLISH">

</a>
                            </li>
                            <div class="submenu-navbar">
                                <div class="menu-head">
                                    <span class="menu-back"><img src="/images/menu-back.svg" alt="back"></span>
                                    <span class="close-menu"><img src="/images/closemenu.svg" alt="close"></span>
                                </div>
                                <ul>
                                                                            <li class="submenu-navbar-item">
                                            <a href="#">English</a> 
                                        </li>
                                                                            <li class="submenu-navbar-item">
                                            <a href="#">Español</a> 
                                        </li>
                                                                            <li class="submenu-navbar-item">
                                            <a href="#">Français</a> 
                                        </li>
                                     
                                </ul>
                            </div>
                                                                                                <li class="secondary-navbar-item">
                                <a href="">
                                    LOGIN
                                </a>
                            </li>
                                                            </ul>
            </nav>
        </div>
    </div>
</header>


	<script src="/js.ccc2ecca.js"></script>
</body>

</html>
