

<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>kykyn</title>
	<base href="/alldatacomponents">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script defer="" src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<link rel="stylesheet" href="/global.cf28e306.css">

</head>

<body>
	<!-- Start: @heading--default -->
<h1 class="cmp-heading h1   ">
    My h1 heading
 </h1>
<!-- End: @heading--default -->

<!-- Start: @heading--h2 -->
<h2 class="cmp-heading h2   ">
    My h2 heading
 </h2>
<!-- End: @heading--h2 -->

<!-- Start: @heading--h3 -->
<h3 class="cmp-heading h3   ">
    My h3 heading
 </h3>
<!-- End: @heading--h3 -->

<!-- Start: @heading--h4 -->
<h4 class="cmp-heading h4   ">
    My h4 heading
 </h4>
<!-- End: @heading--h4 -->

<!-- Start: @heading--h5 -->
<h5 class="cmp-heading h5   ">
    My h5 heading
 </h5>
<!-- End: @heading--h5 -->

<!-- Start: @heading--h6 -->
<h6 class="cmp-heading h6   ">
    My h6 heading
 </h6>
<!-- End: @heading--h6 -->

<!-- Start: @heading--h2 -->
<h2 class="cmp-heading h2    has-line ">
    My h2 heading
 </h2>

         
      
<svg class="cmp-threelines" xmlns="http://www.w3.org/2000/svg" width="61" height="17" viewBox="0 0 61 17">
    <g fill="#F16824" fill-rule="evenodd">
        <path d="M9.59 0L0 17h7.083L17 0zM31.59 0L22 17h7.083L39 0zM53.59 0L44 17h7.083L61 0z"/>
    </g>
</svg>
<!-- End: @heading--h2 -->

<!-- Start: @heading--h3 -->
<h3 class="cmp-heading h3    has-line ">
    My h3 heading
 </h3>

         
      
<svg class="cmp-threelines" xmlns="http://www.w3.org/2000/svg" width="61" height="17" viewBox="0 0 61 17">
    <g fill="#F16824" fill-rule="evenodd">
        <path d="M9.59 0L0 17h7.083L17 0zM31.59 0L22 17h7.083L39 0zM53.59 0L44 17h7.083L61 0z"/>
    </g>
</svg>
<!-- End: @heading--h3 -->

<!-- Start: @heading--h4 -->
<h4 class="cmp-heading h4    has-line ">
    My h4 heading
 </h4>

         
      
<svg class="cmp-threelines" xmlns="http://www.w3.org/2000/svg" width="61" height="17" viewBox="0 0 61 17">
    <g fill="#F16824" fill-rule="evenodd">
        <path d="M9.59 0L0 17h7.083L17 0zM31.59 0L22 17h7.083L39 0zM53.59 0L44 17h7.083L61 0z"/>
    </g>
</svg>
<!-- End: @heading--h4 -->

<!-- Start: @heading--h5 -->
<h5 class="cmp-heading h5    has-line ">
    My h5 heading
 </h5>

         
      
<svg class="cmp-threelines" xmlns="http://www.w3.org/2000/svg" width="61" height="17" viewBox="0 0 61 17">
    <g fill="#F16824" fill-rule="evenodd">
        <path d="M9.59 0L0 17h7.083L17 0zM31.59 0L22 17h7.083L39 0zM53.59 0L44 17h7.083L61 0z"/>
    </g>
</svg>
<!-- End: @heading--h5 -->

<!-- Start: @heading--h6 -->
<h6 class="cmp-heading h6    has-line ">
    My h6 heading
 </h6>

         
      
<svg class="cmp-threelines" xmlns="http://www.w3.org/2000/svg" width="61" height="17" viewBox="0 0 61 17">
    <g fill="#F16824" fill-rule="evenodd">
        <path d="M9.59 0L0 17h7.083L17 0zM31.59 0L22 17h7.083L39 0zM53.59 0L44 17h7.083L61 0z"/>
    </g>
</svg>
<!-- End: @heading--h6 -->

	<script src="/js.ccc2ecca.js"></script>
</body>

</html>
