

<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>kykyn</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script defer="" src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<link rel="stylesheet" href="/global.cf28e306.css">

</head>

<body>
	
<div class="cmp-jumbo ">



   
 <h1 class="cmp-heading h1  cmp-jumbo__heading   ">
    AUTOMOTIVE INTELLIGENCE
 </h1>

   
 
         <p class="cmp-text">
        From providing shop management software to customer communication tools, we've been the industry leader of OEM auto repair software since 1986.
    </p>
  
         <button class="cmp-button btn btn-outline-secondary">shop products</button>

 
 [object Object]
 [object Object]   </div>


   
   
   
   
  





	<script src="/js.ccc2ecca.js"></script>
</body>

</html>
