

<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>kykyn</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script defer="" src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<link rel="stylesheet" href="/global.cf28e306.css">

</head>

<body>
	
<div class="cmp-jumbo  cmp-jumbo__simple ">



   
 <h2 class="cmp-heading h2  cmp-jumbo__heading   ">
    Why ALLDATA
 </h2>

   
 
         <p class="cmp-text">
        ALLDATA is the industry’s #1 choice for OEM-accurate mechanical and collision repair information, shop management software, and support services, trusted by more than 400,000 technicians in over 115,000 shops worldwide.
    </p>
  
   </div>


   
   
   
   
  





	<script src="/js.ccc2ecca.js"></script>
</body>

</html>
