

<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>kykyn</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script defer="" src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<link rel="stylesheet" href="/global.cf28e306.css">

</head>

<body>
	
<section class="cmp-serve-wedo">
    
<div class="cmp-tricolor__position-inverted">
    <div class="tricolor-layer  cmp-tricolor_start"></div>
    <div class="tricolor-layer cmp-tricolor_middle"></div>
    <div class="tricolor-layer cmp-tricolor_end"></div>

    
</div>    <div class="cmp-whoweserve col-11 col-lg-11 mx-auto">
        
<div class="cmp-jumbo  cmp-jumbo__No Button and no simple text ">



   
 <h2 class="cmp-heading h2  cmp-jumbo__heading    has-line ">
    Who we serve
 </h2>

         
      
<svg class="cmp-threelines" xmlns="http://www.w3.org/2000/svg" width="61" height="17" viewBox="0 0 61 17">
    <g fill="#F16824" fill-rule="evenodd">
        <path d="M9.59 0L0 17h7.083L17 0zM31.59 0L22 17h7.083L39 0zM53.59 0L44 17h7.083L61 0z"/>
    </g>
</svg>


   
 
     
   </div>


   
   
   
   
  




        <div class="cmp-cardscontainer  ">
     
            
            <div class="field field--name-field-brand-block-info field--type-entity-reference-revisions field--label-hidden field__items">
	                                     <div role="presentation" class="cmp-servcard mobile-overflow col-12 mx-auto mx-lg-3 mb-4  
"> 
    <div class="cmp-servcard__image">
        
<div class="cmp-imageblue bg-primary">
    




    <img class="cmp-image " src="/images/carfix.jpg" alt=""    >

    
    

</div>    </div>
    <div class="cmp-servcard__content">
        
 <h6 class="cmp-heading h6   ">
    Independent collision shops
 </h6>

   
        <button class="cmp-servcard__more"><img src=../../images/plus-orange.svg alt="more"></button>
        <div class="cmp-servcard__description  d-none d-lg-block" aria-hidden="true" aria-expanded="false">
                  <p class="cmp-text">
        Our Collision Advantage integrates with the three major estimating systems, analyzing your estimate in seconds and displaying on a single screen.
    </p>
              
<a class="cmp-cardlink" href="https://www.google.com">Learn More</a>

        </div>
    </div>
    
</div>                                     <div role="presentation" class="cmp-servcard mobile-overflow col-12 mx-auto mx-lg-3 mb-4  
"> 
    <div class="cmp-servcard__image">
        
<div class="cmp-imageblue bg-primary">
    




    <img class="cmp-image " src="/images/carfix.jpg" alt=""    >

    
    

</div>    </div>
    <div class="cmp-servcard__content">
        
 <h6 class="cmp-heading h6   ">
    Independent collision shops
 </h6>

   
        <button class="cmp-servcard__more"><img src=../../images/plus-orange.svg alt="more"></button>
        <div class="cmp-servcard__description  d-none d-lg-block" aria-hidden="true" aria-expanded="false">
                  <p class="cmp-text">
        Our Collision Advantage integrates with the three major estimating systems, analyzing your estimate in seconds and displaying on a single screen. Our Collision Advantage integrates with the three major estimating systems, analyzing your estimate in seconds and displaying on a single screen. Our Collision Advantage integrates with the three major estimating systems, analyzing your estimate in seconds and displaying on a single screen.
    </p>
              
<a class="cmp-cardlink" href="https://www.google.com">Learn More</a>

        </div>
    </div>
    
</div>                                     <div role="presentation" class="cmp-servcard mobile-overflow col-12 mx-auto mx-lg-3 mb-4  
"> 
    <div class="cmp-servcard__image">
        
<div class="cmp-imageblue bg-primary">
    




    <img class="cmp-image " src="/images/carfix.jpg" alt=""    >

    
    

</div>    </div>
    <div class="cmp-servcard__content">
        
 <h6 class="cmp-heading h6   ">
    Independent collision shops
 </h6>

   
        <button class="cmp-servcard__more"><img src=../../images/plus-orange.svg alt="more"></button>
        <div class="cmp-servcard__description  d-none d-lg-block" aria-hidden="true" aria-expanded="false">
                  <p class="cmp-text">
        Our Collision Advantage integrates with the three major estimating systems, analyzing your estimate in seconds and displaying on a single screen.
    </p>
              
<a class="cmp-cardlink" href="https://www.google.com">Learn More</a>

        </div>
    </div>
    
</div>                                     <div role="presentation" class="cmp-servcard mobile-overflow col-12 mx-auto mx-lg-3 mb-4  
"> 
    <div class="cmp-servcard__image">
        
<div class="cmp-imageblue bg-primary">
    




    <img class="cmp-image " src="/images/carfix.jpg" alt=""    >

    
    

</div>    </div>
    <div class="cmp-servcard__content">
        
 <h6 class="cmp-heading h6   ">
    Independent collision shops
 </h6>

   
        <button class="cmp-servcard__more"><img src=../../images/plus-orange.svg alt="more"></button>
        <div class="cmp-servcard__description  d-none d-lg-block" aria-hidden="true" aria-expanded="false">
                  <p class="cmp-text">
        Our Collision Advantage integrates with the three major estimating systems, analyzing your estimate in seconds and displaying on a single screen.
    </p>
              
<a class="cmp-cardlink" href="https://www.google.com">Learn More</a>

        </div>
    </div>
    
</div>                                     <div role="presentation" class="cmp-servcard mobile-overflow col-12 mx-auto mx-lg-3 mb-4  
"> 
    <div class="cmp-servcard__image">
        
<div class="cmp-imageblue bg-primary">
    




    <img class="cmp-image " src="/images/carfix.jpg" alt=""    >

    
    

</div>    </div>
    <div class="cmp-servcard__content">
        
 <h6 class="cmp-heading h6   ">
    Independent collision shops
 </h6>

   
        <button class="cmp-servcard__more"><img src=../../images/plus-orange.svg alt="more"></button>
        <div class="cmp-servcard__description  d-none d-lg-block" aria-hidden="true" aria-expanded="false">
                  <p class="cmp-text">
        Our Collision Advantage integrates with the three major estimating systems, analyzing your estimate in seconds and displaying on a single screen.
    </p>
              
<a class="cmp-cardlink" href="https://www.google.com">Learn More</a>

        </div>
    </div>
    
</div>                                     <div role="presentation" class="cmp-servcard mobile-overflow col-12 mx-auto mx-lg-3 mb-4  last-card  
"> 
    <div class="cmp-servcard__image">
        
<div class="cmp-imageblue bg-primary">
    




    <img class="cmp-image " src="/images/carfix.jpg" alt=""    >

    
    

</div>    </div>
    <div class="cmp-servcard__content">
        
 <h6 class="cmp-heading h6   ">
    Independent collision shops
 </h6>

   
        <button class="cmp-servcard__more"><img src=../../images/plus-orange.svg alt="more"></button>
        <div class="cmp-servcard__description-lastcard  " aria-hidden="true" aria-expanded="false">
                  <p class="cmp-text">
        Our Collision Advantage integrates with the three major estimating systems, analyzing your estimate in seconds and displaying on a single screen.
    </p>
              
<a class="cmp-cardlink" href="https://www.google.com">Go to diy site</a>

        </div>
    </div>
    
</div>                            
</div>
        </div>
    </div>
    <div class="cmp-image-separator d-block d-lg-none col-12 my-5">
        




    <img class="cmp-image " src="/images/carfix2.jpg" alt=""    >

    
    

    </div>
    <div class="cmp-what-wedo">
        <div class="cmp-what-wedo__about-us col-11 col-sm-8 col-md-7 col-lg-5 mx-auto">
        
<div class="cmp-jumbo ">



   
 <h2 class="cmp-heading h2  cmp-jumbo__heading    has-line ">
    WHA WE DO
 </h2>

         
      
<svg class="cmp-threelines" xmlns="http://www.w3.org/2000/svg" width="61" height="17" viewBox="0 0 61 17">
    <g fill="#F16824" fill-rule="evenodd">
        <path d="M9.59 0L0 17h7.083L17 0zM31.59 0L22 17h7.083L39 0zM53.59 0L44 17h7.083L61 0z"/>
    </g>
</svg>


   
 
         <p class="cmp-text">
        We are a <strong>data-driven solutions provider</strong> working <strong>hard</strong> and <strong>smart</strong> to help automotive repair shops be the <strong>best they can be</strong>.
    </p>
  
         <button class="cmp-button btn btn-outline-secondary">About Us</button>
   </div>


   
   
   
   
  




        </div>
    </div>
</section>
	<script src="/js.ccc2ecca.js"></script>
</body>

</html>
