

<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>kykyn</title>
	<base href="/alldatacomponents">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script defer="" src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<link rel="stylesheet" href="/alldatacomponents/global.5bf4ab35.css">

</head>

<body>
<h1>hi</h1>
	 <div role="presentation" class="cmp-servcard mobile-overflow col-12 mx-auto mx-lg-3 mb-4  
"> 
    <div class="cmp-servcard__image">
        
<div class="cmp-imageblue bg-primary">
    




    <img class="cmp-image " src="/images/carfix.jpg" alt=""    >

    
    

</div>    </div>
    <div class="cmp-servcard__content">
        
 <h6 class="cmp-heading h6   ">
    Independent collision shops
 </h6>

   
        <button class="cmp-servcard__more"><img src=../../images/plus-orange.svg alt="more"></button>
        <div class="cmp-servcard__description  d-none d-lg-block" aria-hidden="true" aria-expanded="false">
                  <p class="cmp-text">
        Our Collision Advantage integrates with the three major estimating systems, analyzing your estimate in seconds and displaying on a single screen.
    </p>
              
<a class="cmp-cardlink" href="https://www.google.com">Learn More</a>

        </div>
    </div>
    
</div>
	<script src="/alldatacomponents/js.ccc2ecca.js"></script>
</body>

</html>
