

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>kykyn</title>
    <base href="/alldatacomponents/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script defer="" src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="/alldatacomponents/global.5bf4ab35.css">
  </head>

  <body>
    <h2>bye</h2>
    



<div class="cmp-shadow-box">
    

<div class="cmp-cols  cols-1  cols-md-2   no-gutter  ">
   


         <div class="cmp-shadow-box-img">
    




    <img class="cmp-image  img-fluid " src="https://res.cloudinary.com/alldataborn/image/upload/v1577747528/alldata/juan_iact8j.png" alt="happy man"    >

    
    


    
    <div class="cmp-shadow-box-play-container">
      <button class="btn">

        




    <img class="cmp-image " src="/images/play.svg" alt="">

          <span class="sr-only"></span>
      </button>
    </div>

  </div>
  <div class="cmp-shadow-box-quote">
      <div class="cmp-quote">
    




    <img class="cmp-image " src="/images/quote-start.svg" alt="">

    <blockquote cite="https://www.huxley.net/bnw/four.html">
        <p>ALLDATA allows us to have access to the information we need, and it’s completely portable, so our techs have everything at their fingertips.</p>
        <footer>Josh Kazdan, Autosphere</footer>
    </blockquote>
    




    <img class="cmp-image " src="/images/quote-end.svg" alt="">

</div>  </div> 

      
</div>
</div>


    <script src="/alldatacomponents/js.ccc2ecca.js"></script>
  </body>
</html>

