{% set skewContent %}
    <div class="cmp-servicescards">
        {% include "@tricolor--position" with {inverted: true}%}
        {% include "@jumbo" with 
            {
                "headingLevel": "h2",
                "btnText": "",
                "threelines": true,
                "modifier": "No Button and no simple text"
            } 
        %}


        {% set cardsContent %}
            
            {% for card in cards %}
                {% include "@servcard" with card %}
            {% endfor %}
        {% endset %}


        {% set drupal %}
            {% include "@drupalitemsfacade" with {items:cardsContent} %}
        {% endset %}
        <div class="cmp-servicescards__cardcontainer mx-sm-auto">
            {% include "@cols" with {content: drupal, mobileModifier: "1", desktopModifier: "3", noGutter:true} %}
        </div>
     
        
    </div>
{% endset %}
        

{% include "@skew" with {content: skewContent, overflowUnset: true, inlineBgImage: inlineBgImage} %}
